<% const url = '/cont/15_07_05_tashkent_samarkand_tashkent/'%>
<h3>2-й день</h3>
<p>
    Спалось не как в домашней кровати, конечно.
    На каримате хотя и мягко, но всё же как-то жёстко.
    Спальник стесняет движения, поэтому вечно затекает рука или шея.
    Просыпаешься, кое-как повернёшься и мгновенно засыпаешь вновь.
    Но в целом спалось хорошо.
    Реально высыпаешься — говорят, это всё свежий воздух))).
    Проснулся я поздно, где-то в шесть утра.
    А когда встал, солнце уже начало становиться слегка навязчиво тёплым.
</p>
<%- include('../img_block', {url:url+"IMG_20150706_063648.jpg"}) %>
<p>
    Да, вот так выглядел мой привал утречком.
</p>
<p>
    А дальше завтрак, умывания, сборы, закрепление вещей и... бац, оказывается, переднее колесо спустило.
</p>
<p>
    Переднее колесо в течение поездки вело себя очень нехорошо.
    Видимо, температура большая и какой-то особый стресс.
    А может, просто оснащение на плохом уровне).
    Ремонтировал камеру раза четыре.
    Сначала потрескались некачественные китайские заплатки, потом вдруг появились дырки на качественной камере (либо плохо укладывал ранее, либо брак), а затем треснула и качественная заплатка.
    И ни разу это не был прокол.
    А посему совет: в дальние поездки ставьте хорошие камеры без дыр, так как заплатки могут не выдержать (хотя, может, просто у меня не те заплатки).
    Заднее колесо не подкачало, хотя нагрузка на него была максимальная.
</p>
<p>
    Итак, заменив камеру, я выкатился к дороге.
</p>
<%- include('../img_block', {url:url+"IMG_20150706_074012.jpg"}) %>
<p>
    Что характеризует это фото?
    В основном то, что ноги за ночь не то чтобы восстановились полностью — они скорее вообще не восстановились.
    Ноги болели, а ехать ещё более половины пути.
</p>
<p>
    Итого на тот момент: пройдено 122 км, затрачено всего времени со старта 16 часов 40 минут.
</p>
<p>
    Но отступать некуда, поэтому едешь дальше!
</p>
<p>
    Дорога поначалу шла ужасно.
    Качество покрытия плохое, ноги слегка ватные, и, что самое ужасное, — встречный ветер.
    Попробовав подержать скорость хотя бы 25 км/ч, сдался.
    И дальше боролся за то, чтобы ехать не медленнее чем 18 км/ч.
    Тут-то включаешь смирение и просто крутишь педали, крутишь педали, крутишь педали...
</p>
<%- include('../img_block', {url:url+"IMG_20150706_083052.jpg"}) %>
<p>
    Так как дорога очень однообразная, то начинаешь цепляться за всякое интересное.
    Типа... о-о-о-о, указатель — клёво, надо сфоткаться и попить воды.
</p>
<p>
    И попить воды, и снова попить воды.
    Я столько её выпил!!!
    Я, наверное, за год столько не выпил.
    Главное, вливаешь в себя её, а всё хочется и хочется ещё.
    Порой желудок полный, прямо чувствуешь — натянут, а желание пить не уходит.
    Весь путь в Самарканд покупал газировку.
    Благо её продают чаще, чем она успевает заканчиваться.
    И только ты её купил, а она, блин, такая холодная!!!!!!!!
    Ты открываешь.
    Глоток.
    Ещё глоток, и вот оно — счастье... и ещё глоток... да-а-а-а-а.
    Вот зачем делать такие сложные напитки, которые даже и доли того удовольствия и счастья не доставят, как глоток простой холодной воды после пяти километров под палящим солнцем))).
    Хотя они как раз к такому эффекту и стремятся, но чтобы без нагрузки и солнца))).
</p>
<%- include('../img_block', {url:url+"IMG_20150706_091814.jpg"}) %>
<p>
    А-ха-а-а-а, вот уже и 150 км — как оказалось, это практически полпути)))).
</p>
<p>
    Дорога стала лучше, ветер стал боковой, но, несмотря на это, ноги отказались выдавать стабильные 25 км/ч (я их уговаривал, они — ни в какую, да и было уже осознание у них, видимо, что им ещё напрягаться не 10 км).
</p>
<p>
    Что было невыносимо жарко на том участке, я не скажу.
    Хотя регулярно устраивал себе пит-стопы в теньке.
    Мочил в речке или арычке и кепку, и рубашку.
    Всё же это было утро, как ни крути...
</p>
<%- include('../img_block', {url:url+"IMG_20150706_094743.jpg"}) %>
<p>
    Пейзаж того места не сильно отличался от Ташкентской области.
    Но значительно меньше мелких посёлков, может, даже и полей меньше (хотя кто его разберёт).
    Но вдали начали проглядываться горы — да, да, и там есть горы, и даже не такие уж и низкие.
    А ехать вдоль гор или к горам куда веселее, чем тупо по равнине, где единственное развлечение — это указатели и мосты.
</p>
<%- include('../img_block', {url:url+"IMG_20150706_122826.jpg"}) %>
<p>
    Эх, как в фотоотчёте всё просто: вот было 150 км позади, а тут — бац! — и уже 200 км.
    Так легко пролетают такие расстояния, пока ты не в седле).
    Жаль, что в отчёте не передать в полной мере ощущения, когда ты едешь против ветра, жара, рот сухой, ноги требуют остановиться и пройтись, а ты смотришь на километраж: блин, всего лишь 177 км... блин, всего 179... о-о-о, 180....
</p>
<p>
    Написал о том, что ноги просятся пройтись, поясню.
    Когда долго едешь, ноги будто забиваются (я так это называю, вроде как наполняются молочной кислотой или чем ещё), и нужно остановиться.
    Но не сесть и передохнуть, а именно пройтись.
    И вот делаешь первый шаг — его обычно очень больно делать.
    Может, мышцы сводит, а тут ты их расслабляешь, но потом потихонечку расходишься, выпрямляешься.
    И вот мышцы «продуваются» (ну, я так это называю), и становится хорошо, и снова можно садиться и педалить дальше.
</p>
<p>
    Ну и время обеда!!!
    Ура!!!
</p>
<%- include('../img_block', {url:url+"IMG_20150706_132431.jpg"}) %>
<p>
    Не то чтобы есть хочется всегда, но создаётся ощущение, что ты ешь много — я так много обычно не ем.
</p>
<p>
    В этой кафешке я заказал шурпу.
    Пить хочется так много и постоянно, что при мысли о сухой еде жутко хочется пить!!!
</p>
<p>
    А шурпа была что надо: жирнющая, огромный кусок мяса, пол-лепёшки, салатик и целый большой чайник.
    Я всё съел!!! (Нет, посуду оставил).
    Пиалушки чая пьёшь одну за другой.
    Встаёшь из-за стола и понимаешь: желудок не то чтобы сытый, а набитый по максимуму.
    И мысль: блин, может, ещё самсы дерябнуть))).
</p>
<p>
    Самсу таки я купил, но есть не стал — заготовил на ужин на всякий случай.
</p>
<%- include('../img_block', {url:url+"IMG_20150706_132453.jpg"}) %>
<p>
    Впереди Джизак.
    Да, да, он где-то перед перевалом.
    Но только встав из-за стола или чуть позже, понял, как хочу спать.
    И, найдя первый приличный тенёк под деревом, остановился на привал.
    Расстелил каримат и только прилёг — бац! — вырубился).
</p>
<p>
    Вообще, со сном во время путешествия как-то не было проблем.
    Не приходилось считать барашков или тупо до ста, не надо было очищать мозг от мыслей, что накопились за день, не нужно было освобождаться от разработки планов на года вперёд.
    Благо успевал доносить голову до подушки (собранной из кроссовок), а не падал прямо так)))).
</p>
<p>
    В Джизак я не заезжал, дорога идёт в обход и ведёт прямиком к самаркандскому перевалу (ну, мне его так называли).
    А что это значит?
    О да-а-а-а! Это постоянные подъёмы, а ноги почти никакие))).
</p>
<%- include('../img_block', {url:url+"IMG_20150706_163601.jpg"}) %>
<p>
    Подъехал к перевалу я не в очень удачное время — что-то около четырёх, а значит, было ещё очень жарко, и как следствие подъёмы были слегка некомфортные).
</p>
<p>
    Дорога через перевал делается (судя по увиденному — уже давно) и очень активно.
    Поэтому качество дороги варьируется от «О ужас, это что — дорога?» до «Ну-у-у, класссссс!!!».
</p>
<p>
    Частенько я спешивался и тянул своего верного коня под уздцы).
    И тут, я думаю, пришло время рассказать, как вообще относятся к велотуристу.
</p>
<p>
    Одним словом — «хорошо».
    В чём это выражается?
    В том, что с тобой постоянно все здороваются и улыбаются.
    Раз 600 я делал ручкой в ответ на приветствие.
    Многие водилы подсигналивают и тянут руки в окна — мол, здорово!
    Когда останавливаешься, бывает, к тебе подходят, тянут руку, здороваются и спрашивают, откуда ты и куда едешь.
    А услышав ответ, удивляются, желают удачи.
</p>
<p>
    Позже я начал понимать, что меня принимают за иностранца.
    Длинные волосы, белая рубашка и полный багажник вещей.
    И многие могут сказать, что, мол, своего бы они так не приветствовали — я считаю, что это не так.
    Своему было бы сложно показать, что он турист, а не простой парень из местного аула, что едет в соседний.
    Но узнав, какой он держит путь, тоже желали бы всего хорошего.
</p>
<p>
    Существует городской предрассудок: поездка за город — это крайне опасное предприятие по причине злых людей в посёлках.
    Я убеждён, что это не так.
    Никто ни разу не кинул в меня камнем или палкой, никто не обматерил или не сказал плохое слово.
    Все были заинтересованы моим поступком.
    Проявляли откровенный интерес.
    Пускай некоторым я смог лишь объяснить, что еду из Ташкента в Самарканд, но и те подносили руку к сердцу и говорили доброе.
</p>
<p>
    Конечно же, скорее всего, есть и злые среди добрых.
    Но, опять-таки, я убеждён, что нарваться на ублюдка в городе на два порядка легче, чем за городом.
</p>
<p>
    Было очень приятно, как меня приветствуют, и я старался каждого не оставить без внимания, говоря добрые слова в ответ.
</p>
<p>
    В начале перевала от жары спрятался на остановке.
    Ко мне подошли два парня.
    Ни капли понимания русского, ни капли агрессии и много интереса.
    Думаю, попроси я чего-нибудь у них, они бы довели меня до того, кто хоть что-то понимает, а поняв, постарались бы помочь.
</p>
<p>
    Вообще, у нас какое-то странное отношение к путникам.
    И раньше я готов был помочь, а сейчас сделал бы всё возможное, чтобы помочь.
</p>
<p>
    Много слов, надо вставлять картинку.
</p>
<%- include('../img_block', {url:url+"IMG_20150706_171141.jpg"}) %>
<p>
    Благо вечерело, и подъём становился более комфортабельным)))).
</p>
<%- include('../img_block', {url:url+"IMG_20150706_171220.jpg"}) %>
<p>
    Ну, сказать, что мне прямо вот комфортно... но всё лучше.
</p>
<%- include('../img_block', {url:url+"IMG_20150706_171158.jpg"}) %>
<p>
    Перевал идёт скорее по предгорью, чем в горах, но всё равно виды хорошие.
    Я почему-то свободу и простор чувствую только в горах — может, это оттого, что видно всё вокруг и всё так интересно.
    Да и дышится как-то особенно легко.
</p>
<%- include('../img_block', {url:url+"IMG_20150706_172426.jpg"}) %>
<p>
    Участок новой дороги — просто сказка, когда по ней скатываешься.
</p>
<%- include('../img_block', {url:url+"IMG_20150706_172853.jpg"}) %>
<p>
    Почему-то мне очень нравится, как в холме вырезали кусочек, чтобы проложить дорогу.
    Инженеры таки тут стояли, и вдруг один из них говорит: «Хочу, чтобы прямо тут».
    Остальные развели руками — ну хочется ему, и куска холма теперь нету).
</p>
<p>
    Температура спадала, вечер окрашивал горы в удивительные цвета.
    Это время дня в горах я просто обожаю.
    Поэтому я уже получал удовольствие от моего «пешохожденья», пускай и приходилось тянуть велик вверх.
    К слову сказать, перепады там не очень серьёзные.
    И на свежие ноги, возможно, я бы проехал не слезая, но ситуация была другая.
</p>
<p>
    Тем временем близился закат.
</p>
<%- include('../img_block', {url:url+"IMG_20150706_193427.jpg"}) %>
<p>
    Дальше дорога была не слишком хорошей, но зато ветер дул в спину и определённо был лёгкий уклон вниз.
    Хотя были и очень крутые затяжные спуски.
    По дороге я заглянул в ещё одну кафешку, и из предложенных: самса, шурпа, шашлык — что я выбрал?
    Верно — шурпу, так как жажда не отпускала))).
    Шурпа эта была не такая вкусная и подороже (не знаю, связано ли это))) ).
</p>
<%- include('../img_block', {url:url+"IMG_20150706_201916.jpg"}) %>
<p>
    И вот они — 250 км!!!
    Значит, до цели каких-то 50 км, а это ведь мелочь, т. е. я совсем рядом).
</p>
<p>
    И вроде стоило бы поднажать и поскорее добираться до города.
    Но уже стало темно, ноги могли уже в основном только ходить).
    Да и экономический расчёт был важен.
    Ведь если приехать в город даже в 12 ночи, то платить придётся за весь день, а потом ещё за день.
    А можно остановиться под деревом и с утречка на свежую голову добраться в город и заселиться уже по-нормальному).
    Так и решил.
</p>
<%- include('../img_block', {url:url+"IMG_20150706_211946.jpg"}) %>

<%- include('../img_block', {url:url+"IMG_20150707_070732.jpg"}) %>
<p>
    О-о-о-о, этот привал был лучшим.
    Ужинать я не стал.
    Самсу, купленную ранее, оставил на завтрак, и она так хорошо пошла — подозреваю, что это была джизакская самса, и она была очень вкусная.
    Ночевалось отлично.
    Не было ни комаров, ни мошкары.
    Можно было чуток вылезать из спальника, когда становилось жарко.
    Я очень угадал со своим решением.
</p>