
<% const url = '/cont/15_07_05_tashkent_samarkand_tashkent/'%>

<h3>5-й день</h3>
<p>
    Что лучше всего вас может заставить встать?
    Даже в полшестого?
</p>
<p>
    Рассвет? — ну что за ерунда))).
    Будильник? — под него я могу сладко спать хоть всё утро))).
    Дождичек в лицо? — о-о-о, это уже лучше, особенно когда сразу же приходит мысль: «Опа, сейчас ливанёт, надо прятаться».
    Но оказалось, есть что-то получше)))).
</p>
<p>
    Просыпаюсь, значит, под звон будильника.
    Ощущаю, что довольно хорошо выспался, но можно переставить на пять минуточек — ну, чтобы наверняка.
    Лёжа на боку, я открываю глаза, а перед моим лицом ползёт БОЛЬШОЙ ЧЁРНЫЙ ПАУК!!!!!
    Вот тут я прям как-то вот так раз — и встал))))).
    Даже не стал будильник переставлять))).
</p>
<p>
    Паук оказался очень добрым — он не стал бросаться на меня с целью искусать до полусмерти, обмотать паутиной и сожрать.
    Нет, он продолжал себе куда-то ползти, и, как потом я выяснил, просто искал новое место, где можно затаиться и ждать муху-цокотуху или её друзей на обед).
</p>
<%- include('../img_block', {url:"IMG_20150709_053211.jpg",article}) %>
<p>
    А вот и тот паук.
    Кто-то скажет: «Ой, паучка испугался, трус».
    На самом деле у меня есть фобия такая).
    Но и паук был немаленький.
    Это степная вдова, родственница той самой чёрной вдовы, а у нас зовут таких — каракурт.
    И, как я потом выяснил, укус этих милых животных довольно болезнен для человека и сопровождается очень неприятными ощущениями по всему телу.
    Вот только отличительным моментом для каракурта являются красные пятна на пузе, но в инете написано, что к созреванию пятна могут уходить.
</p>
<p>
    Паники не было — я не такой, ну или почти не такой).
    Поняв, что пауку я особо не нужен, я его прогнал с каримата и начал обтряхивать все вещи.
    Оказалось, что ко мне в гости пришло ещё двое таких милых восьминогих.
    Похоже, они, как и я, только проснулись и начали готовиться к ежедневной охоте.
    И я не сдержался-таки — взял одного паучка себе))).
    Теперь он живёт у меня дома, и я не рекомендую со мной враждовать — напоминаю: укус паука очень болезненный!!!
</p>
<%- include('../img_block', {url:"IMG_20150709_063250.jpg",article}) %>
<p>
    А вот то самое замечательное место))).
    Отряхнув всё, я спокойненько позавтракал купленной в Самарканде кукурузой, собрался, закрепился и тронулся в путь.
</p>
<%- include('../img_block', {url:"IMG_20150709_065542.jpg",article}) %>
<p>
    На тот момент я проехал 115 км, а значит — ещё пилить и пилить.
</p>
<p>
    А пилилось поначалу ну совсем как-то нехорошо.
    Утреннее педалирование — это не очень моё.
    Всё болело и затекало.
    Ехалось очень медленно, и как-то сразу стало жарко.
</p>
<%- include('../img_block', {url:"IMG_20150709_085446.jpg",article}) %>
<p>
    Вот настолько тяжело мне далась отметка в 150 км))).
</p>
<p>
    И так я ехал, пока не встретил очень простую чайхону, расположенную прямо на обочине, где меня накормили просто замечательной шурпой — лучшей из трёх.
    Мяса было много, и оно было нежнючим и вкуснючим!
</p>
<p>
    Ну а после вкусного обеда по закону Архимеда нужно обязательно поспать.
    Что я и сделал.
    Нашёл замечательное место под деревьями.
    Ложусь на каримат, чувствую, как по мне начинают ползти муравьи, щекочут (а мне это жутко нравится), и очень приятно засыпаю.
</p>
<p>
    Выспался, но ещё валяюсь, дремлю.
    Тут чувствую — что-то по мне ползёт.
    Думаю: мураш большой (там реально большие мураши такие).
    Нет, чувствую, что не мураш.
    Очень так приятно ползёт, пушистенькое такое и куда больше, чем мураш.
    Доползает до плеча, я открываю глаза, а на мне сидит такой же большой чёрный паук, но уже с красными точками.
    И я снова труханул)))))))))) но без истерики (ну или почти).
    Чувствую, что намеревается ползти к лицу, и думаю: «Блин, как же его смахнуть, да так, чтобы не укусил ещё».
    Привстал, наклонился, а он сам взял и упал, убежал в траву и там затаился.
</p>
<p>
    Вот так бывает))).
    Поэтому на будущее понял, что так просто в поле спать не слишком безопасно — нужно брать или сетку какую-то, или палатку (вот только тяжёлая она, но зато надёжная).
</p>
<p>
    Паука я воспринял как знак — нужно собираться и ехать)))).
    Что я и сделал.
</p>
<%- include('../img_block', {url:"IMG_20150709_152631.jpg",article}) %>
<p>
    200 км.
    Ну, по фоткам километры прямо летят, прямо летят)))
</p>
<%- include('../img_block', {url:"IMG_20150709_155628.jpg",article}) %>
<p>
    У аистов я сделал остановку, чтобы и передохнуть в теньке, и полюбоваться на этих больших птиц.
    Вон как, оказывается, живут они — кучками.
    Не знаю, как спят — может, по отдельности, а потом днём встречаются у друга на хате))).
    Но днём вот так они стоят, иногда слегка передвигаются, и вдруг один возьмёт как и полетит.
    Очень красивые животные.
</p>
<%- include('../img_block', {url:"IMG_20150709_195542.jpg",article}) %>
<p>
    А дальше ехал, ехал, ехал.
    О чём думалось во время педалирования?
    Да ни о чём особенно.
    Боль в мышцах и жажда постоянно отвлекают от глобального — о смысле жизни!)))
    А так едешь, смотришь на спидометр, и в голове: «Та-а-ак, еду со скоростью 20 км/ч, значит, средняя где-то 15, и 100 км я сделаю за шесть часов с хвостиком».
    Дальше скорость чуток подросла — 25 км/ч, в голове: «Та-а-а-ак, значит, средняя скорость уже 17, и 100 км я сделаю за-а-а...».
    И так постоянно.
    Считаешь километры, сколько их ехать и во сколько ты примерно будешь.
    Если и размышлять о бытии в путешествии, так это по вечерам после ужина, но нужно поймать момент, когда ещё не уснул))).
</p>
<%- include('../img_block', {url:"IMG_20150709_201410.jpg",article}) %>
<p>
    Походу, 250 км))).
    То есть осталось всего лишь каких-то 50 км, ну, может, 60, с учётом того, что я доеду до дома — ну, максимум 65.
    Так, если со средней скоростью 15 км/ч, то это сколько будет ещё часов?..
    Ко скольки уже буду дома?..
    А если ехать со скоростью 20...
</p>
<%- include('../img_block', {url:"IMG_20150709_202907.jpg",article}) %>
<p>
    И снова вечерело))).
    Над одним полем увидел вот такой белый слой чего-то.
    Сначала думал — туман от влажности, что поднимается со вспаханной земли.
    Но потом увидел, что по нему едет трактор, и за ним тянется вот такой шлейф.
    То ли он взрыхлял, то ли опрыскивал — я уже не разглядел, но когда заехал в эту дымку, пахло как-то странно и было тяжело дышать.
</p>
<p>
    На тот момент я уже решил, что не стану останавливаться на ночлег, а уже, хоть и глубокой ночью, но таки доеду до дома.
    До темноты кромешной я успел выехать на хорошую дорогу, включил фонарик и потихоньку проезжал нескончаемые километры.
</p>
<p>
    Ехать по трассе ночью очень необычно.
    Не то чтобы опасно, нет.
    Просто темнота делает всё вокруг таким таинственным.
    Видишь дорогу, освещённую фарами и фонарём, а по бокам будто чёрная бездна.
    Порой оттуда доносятся какие-то звуки, а иногда повеет таким холодом, что аж дыхание спирает.
    И никакие спецэффекты 4D-фильма не перекроют ощущение от пролетающей мимо фуры — светлое, большое, быстрое, шумное проскочит мимо тебя и скроется в темноте.
</p>
<p>
    И 200 км в день — это очень много для меня.
    Малейшая горка — и я спешивался и тащился, глядя вокруг и на звёздное небо, насчитав в итоге две упавшие звезды).
    Гулять вдоль трассы ночью очень таинственно.
    Особенно когда машины оставляют тебя на некоторое время наедине с чернотой и бесконечным небом.
    Вот тут можно поразмышлять о том, о сём.
    О том, как нас затягивает город и, схватив, обволакивает паутиной мелких забот, дел, суетой.
    И в тот момент это так явно чувствуешь, и так во всё это неохота.
    Единственное, что тянет вперёд, — это возможность принять ванну и сразу же лечь спать.
</p>
<p>
    Мысль интересная посетила, или даже ощущение, когда я уже подъезжал к городу.
    Ощущение, что вот это испытание, которое я сейчас прохожу — я как бы в нём, я создал его.
    И это ощущение, что я в испытании, вот сейчас, заехав в город, останется позади, оно покинет меня — так этого не хотелось почему-то.
    Было ощущение, что я стал каким-то другим.
    Но также я понимал, что снова стану прежним, и этого не хотелось тоже.
</p>
<%- include('../img_block', {url:"IMG_20150709_233931.jpg",article}) %>
<p>
    Ну вот и город, точнее — на фотке блокпост.
    А по самому центру виден указатель, на котором длинным списком идут города, а напротив написано, сколько до них ехать.
    Давным-давно я стоял у него и видел напротив Самарканда 320 км и очень хотел до него доехать).
    А теперь я для себя отмечаю в этом списке другой город: Баку — 2200 км))))... кто его знает, может, и там побывают мои колёса.
</p>
<%- include('../img_block', {url:"IMG_20150709_234949.jpg",article}) %>
<p>
    Ну и 300 км!!!
    Ощущение, что кулак всё больше и крепче, а лицо всё меньше и изнеможённее))))
    И прямо радость, прямо радость в глазах!!!))))
</p>
<%- include('../img_block', {url:"IMG_20150710_001352.jpg",article}) %>
<p>
    Ну вот и всё, я дома.
    Эмоций нет)))))).
    Есть желание смыть пот и, главное, не уснуть в ванной.
    А ещё нужно вынуть паука из банки (он пережил эту поездку).
    И спать, и спать.
</p>
<h3>Итоги</h3>
<p>
    Так зачем всё это нужно было?
    Зачем было это испытание?
    Зачем нужно было тратить столько времени?
    Я до сих пор не могу дать чётких ответов.
</p>
<p>
    Мне хотелось доехать до Самарканда, и всё.
    Я сделал это, и всё.
</p>
<p>
    Понравилась ли мне поездка?
    На это ответить просто «да» или «нет» невозможно.
    За эти пять дней я перечувствовал столько — от боли до большого удовольствия.
    Да и нового столько, и неожиданного, и даже страшного.
    Это прямо такой концентрат жизни.
    Возьмись описывать свою обычную неделю жизни, и тебе хватит пары абзацев, а тут я уже который день всё пишу и пишу о том, как это было.
    Но так или иначе, это было круто!
</p>
<p>
    Достоин ли я похвалы, восхваления, респекта?
    Вот тут я вообще в замешательстве.
    Когда мне говорят: «О, это круто, ты молодец», я ничего не чувствую, потому что не вижу в этом ничего хорошего, ничего полезного.
    Я пять дней крутил педали, а мог сделать кучу полезных вещей.
    Докрутил до одного места, поехал обратно, ничего даже не доставил, ничего не забрал.
    В общем-то, дело пустое же.
    А если про километры, мол, я столько проехал — так я видел вживую тех людей, что проехали 5000 км и более.
    Я по сравнению с ними со своими 600 км вообще никто.
</p>
<p>
    Посоветовал бы ли я это кому-нибудь?
    Определённо.
    Вдали от города начинаешь понимать, что мы живём как-то однообразно, будто мы едем по одним и тем же рельсам изо дня в день, из поколения в поколение.
    Дорога не даёт ответа, как жить иначе, но хотя бы помогает начать думать, желать чего-то нового.
</p>
<p>
    Всё это я писал в основном для себя, чтобы ещё раз вспомнить и пережить, что там было.
    Конечно, написал я не всё.
    Не написал, как потеряли меня родители, когда мой телефон заглючил.
    Не написал, как мне звонили, писали друзья, интересуясь, почему обо мне нет инфы (это очень круто, когда ты реально ощущаешь, что о тебе думают).
    Но если кто-то таки дочитал мой угловатый текст и ему было интересно — я очень рад)))
</p>
<p>
    Спасибо за внимание!
</p>
