<% const url = '/cont/15_07_05_tashkent_samarkand_tashkent/'%>
<h3>Начало</h3>
<p>
Всё началось в воскресенье (05.07.2015).
Хотя, вернее сказать, желание зародилось во мне очень давно, но решился я лишь сейчас.
</p>
<p>
Итак, старт был намечен на 15:00, я собрал вещи, закрепил на велик.
</p>

<%- include('../img_block', {url:url+"IMG_20150705_123752.jpg"}) %>
<p>
Почему-то думал, что путь будет простым.
Вроде и проезжал я уже в день 200 км, да и дорога не имела больших перепадов высот.
Я, прямо сказать, слегка ошибался).
</p>
<%- include('../img_block', {url:url+"IMG_20150705_145938.jpg"}) %>
<p>
На фото словно читается, что я осознаю, сколько впереди), но нет, лишь серьёзный.
</p>
<h3>Первый день</h3>
<p>
И стартанул.
</p>
<p>
Как и ожидал — полетелось).
То есть велик, загруженный кучей вещей и водой, пушинкой мчался и мчался.
Я нёсся километров 30–35 в час, останавливаясь каждые 5 км, чтобы сделать селфи.
Задумка была в том, чтобы делать регулярные себяшки, а потом собрать в видеоряд, и было бы клёвое видео).
Первый день сил была куча на всякое разное, а не только на педалирование.
</p>
<%- include('../img_block', {url:url+"IMG_20150705_152230.jpg"}) %>
<p>
Вон какой настрой: сил много, погода хорошая, дорога замечательная, эх!!!
</p>
<p>
Качество дороги в Ташкентской области стабильно хорошее.
Дорога и без ям, и практически без поворотов, руль будто совсем не нужен.
</p>
<%- include('../img_block', {url:url+"IMG_20150705_154636.jpg"}) %>
<p>
И нет ощущения напряжения, как-то так легко.
Крутишь педали, несёшься по дороге, поля проносятся мимо, а потом посёлки, и снова поля и так далее.
</p>
<%- include('../img_block', {url:url+"IMG_20150705_171024.jpg"}) %>
<p>
С полей порой прилетает ветерок, сладкий такой, не городской, природой пахнет.
</p>
<%- include('../img_block', {url:url+"IMG_20150705_175002.jpg"}) %>
<p>
Дорога ровная и оттого километры очень быстрые.
</p>
<img src="<%= url%>IMG_20150705_180145.jpg">
<p>
А вы знаете, что нельзя делать фото на мостах?
Да!
И то ли милиция, то ли кто другой сразу же свистят и всем своим видом говорят, что делать этого нельзя.
Поэтому и фото реки по имени Сырдарья хорошими сделать не удалось, а вот только что-то подобное.
Ограждено колючей проволокой — видимо, очень важный объект.
</p>
<img src="<%= url%>IMG_20150705_180155.jpg">
<p>
Трафик на дороге хороший такой.
Очень много грузовых машин.
Их такое разнообразие.
И красивые, и большие, и с прицепом, и без, гружённые «Дамасами», «Нексиями», сеном, досками и всем, всем, всем.
В общем, оказывается, между городами столько движухи.
</p>
<p>
Так вот о трафике, а вернее, о его опасности.
Машин очень много, но если вы не дебил, который едет посередине дороги и держится скромненько края (не обочина, которая там является черновой дорогой), то вас никто не трогает.
Все объезжают, т. е. не облизывают вас.
Хотя от грузовиков порой так подует, что чуть ли не сносит, но это скорее прикольно, чем опасно.
Да, все несутся, но несутся на второй полосе.
Начеку быть обязательно, и тогда жизни почти ничего не угрожает.
</p>
<p>
Время шло, километры летели, и потихонечку начало вечереть.
</p>
<img src="<%= url%>IMG_20150705_195123.jpg">
<p>
Это примерно сотый километр от Ташкента.
Но останавливаться я не собирался.
В планах было проехать хотя бы полпути (на самом деле я хотел в первый день все 200 проехать, но кто ж знал, как же это много).
</p>
<img src="<%= url%>IMG_20150705_202635.jpg">
<p>
Во-во, а потом я придумал каждые 50 км отмечать себяшкой с кулаком.
Первую я не нашёл, но вот это фото на первую сотню.
Определённо тут я уже не такой бодрый, как на первой фотке))).
</p>
<%- include('../img_block', {url:url+"IMG_20150705_202947.jpg"}) %>
<p>
А потом я доехал до них.
Это настоящие живые аисты!
В пути я уже видел группу этих больших очень красивых птиц, но это первое гнездо.
Признаюсь честно, раньше я думал, что они ненастоящие.
Просто когда на машине едешь, ощущение, что они совсем не двигаются, да ещё стоят.
А оказываются ещё какие живые.
Гнёзда настоящие и их довольно много — это очень интересно и необычно.
</p>
<%- include('../img_block', {url:url+"IMG_20150705_204652.jpg"}) %>
<p>
И много вот таких вот каналов.
По ним не показывают телепередачи, но в темноте они жуть как клёво выглядят.
Когда вокруг уже совсем нет света и всё погружается в темноту, вода словно светится совершенно волшебным образом — очень красиво!
</p>

<p>
Тем временем дорога стала ужасной.
Темень!
Фонарь хотя и светит хорошо (спасибо Кашелоту), но всё равно всех ям не разглядеть.
Скорость резко упала.
Вдруг появилась мошкара и комары.
Тут-то я понял: не видать мне сегодня ни 200 км, ни даже 150.
</p>
<p>
Принял решение искать место для ночлега.
И чем оно оказалось: у поля, которое недавно было скошено, стоял ряд деревьев, под которыми я и остановился.
</p>
<p>
Было это часов в 22:00, я уже точно и не помню.
Я разложился, съел пельмени с лепёшкой, попил чаёк с печеньками.
Удивительно, как может быть приятна еда после очень длительной нагрузки.
Обычная, но первые укусы ввергают тебя в восторг.
И ты вдыхаешь полную грудь свежего, вечернего, загородного воздуха... и вот он, миг счастья).
</p>
<p>
Далее, сложив всё аккуратненько рядом с собой, забравшись в спальник, ложишься на спину и начинаешь смотреть на бесконечное изумительное небо.
И так темно, что уже виден Млечный Путь.
Высмотрев пару спутников, дождавшись падающей звезды, ты вдруг как-то раз и засыпаешь))).
</p>
<h3>2-й день</h3>
<p>
Спалось не как в домашней кровати, конечно.
На каримате хотя и мягко, но всё же как-то жёстко.
Спальник стесняет ворочанья, поэтому рука вечно затекает или шея.
Просыпаешься, кое-как повернёшься и мгновенно засыпаешь вновь.
Но в целом спалось хорошо.
Реально высыпаешься.
Говорят, это всё свежий воздух))).
Проснулся я поздно, где-то в шесть утра.
А когда встал, солнце уже начало становиться слегка навязчиво тёплым.
</p>
<%- include('../img_block', {url:url+"IMG_20150706_063648.jpg"}) %>
<p>
Да, вот так выглядел мой привал утречком.
</p>
<p>
А дальше завтрак, умывания, собирания, закрепления и... бац, оказывается, переднее колесо спустило.
</p>
<p>
Переднее колесо в течение поездки вело себя очень нехорошо.
Видимо, температура большая и какой-то особый стресс.
А может, просто оснащение на плохом уровне).
Ремонтировал камеру раза четыре.
Сначала потрескались некачественные китайские заплатки, потом вдруг появились дырки на качественной камере (либо плохо укладывал ранее, либо брак), а затем треснула и качественная заплатка.
И ни разу это не был прокол.
А посему совет: в дальние поездки ставьте хорошие камеры без дыр, так как заплатки могут не выдержать (хотя, может, просто у меня не те заплатки).
Заднее колесо не подкачало, хотя нагрузка была максимальная на него.
</p>
<p>
Итак, заменив камеру, я выкатился к дороге.
</p>
<%- include('../img_block', {url:url+"IMG_20150706_074012.jpg"}) %>
<p>
Что характеризует это фото?
В основном то, что ноги за ночь не то чтобы восстановились полностью, а скорее они вообще не восстановились.
Ноги болели, а ехать ещё более половины пути.
</p>
<p>
Итого на тот момент: пройдено 122 км, затрачено всего времени со старта 16 часов 40 минут.
</p>
<p>
Но отступать некуда, поэтому едешь дальше!
</p>
<p>
Дорога поначалу шла ужасно.
Качество дороги плохое, ноги слегка ватные, и что самое ужасное — встречный ветер.
Попробовав подержать скорость хотя бы 25 км/ч, сдался.
И дальше боролся за то, чтобы ехать не медленнее чем 18 км/ч.
Тут-то включаешь смирение и просто крутишь педали, крутишь педали, крутишь педали...
</p>
<%- include('../img_block', {url:url+"IMG_20150706_083052.jpg"}) %>
<p>
Так как дорога очень однообразная, то начинаешь цепляться за всякое интересное.
Типа... о-о-о-о, указатель — клёво, надо сфоткаться и попить воды.
</p>
<p>
И попить воды, и снова попить воды.
Я столько её выпил!!!
Я, наверное, за год столько не выпил.
Главное, вливаешь в себя её, а всё хочется и хочется ещё.
Порой желудок полный, прям чувствуешь — натянут, а желание пить не уходит.
Весь путь в Самарканд покупал газировку.
Благо её продают чаще, чем она успевает заканчиваться.
И только ты её купил, а она, блин, такая холодная!!!!!!!!
Ты открываешь.
Глоток.
Ещё глоток, и вот оно — счастье... и ещё глоток... да-а-а-а-а.
Вот зачем делать такие сложные напитки, которые даже и доли того удовольствия и счастья не доставят, как глоток простой холодной воды после пяти километров под палящим солнцем))).
Хотя они как раз к такому эффекту и стремятся, но чтобы без нагрузки и солнца))).
</p>
<%- include('../img_block', {url:url+"IMG_20150706_091814.jpg"}) %>
<p>
А-ха-а-а-а, вот уже и 150 км — как оказалось, это практически полпути)))).
</p>
<p>
Дорога стала лучше, ветер стал боковой, но, несмотря на это, ноги отказались выдавать стабильные 25 км/ч (я их уговаривал, они ни в какую, да и было уже осознание у них, видимо, что им ещё напрягаться не 10 км).
</p>
<p>
Что было невыносимо жарко на том участке, я не скажу.
Хотя регулярно устраивал себе пит-стопы в теньке.
Мочил в речке или арычке и кепку, и рубашку.
Всё же это было утро, как ни крути...
</p>
<%- include('../img_block', {url:url+"IMG_20150706_094743.jpg"}) %>
<p>Пейзаж того места не сильно отличался от ташкентской области. Но значительно меньше мелких посёлков, может даже и полей меньше (хотя кто его разберёт). Но вдали начали проглядываться горы, да, да, и там есть горы, и даже не такие уж и низкие. А ехать вдоль гор, или к горам куда веселее чем, тупо, по равнине, где единственное развлечение - это указатели и мосты. </p>
<%- include('../img_block', {url:url+"IMG_20150706_122826.jpg"}) %>
<p>Эх, как на фото отчёте всё просто, вот было 150 км позади, а тут, бац, и уже 200 км. Так легко пролетают такие расстояния, пока ты не в седле). Жаль, что в отчёте не передать в полной мере ощущения когда ты едешь против ветра, жара, рот сухой ноги требуют остановиться и пройтись, а ты смотришь на километраж - блин всего лишь 177 км ... блин всего 179 ... ооо 180 ....</p>
<p>Написал о том, что ноги просятся пройтись, поясню. Когда долго едешь, ноги будто забиваются (я так это называю, вроде как наполняются либо молочной кислотой или чем ещё), и нужно остановиться. Но не сесть и передохнуть, а именно пройтись. И вот делаешь первый шаг, его обычно очень больно делать. Может мышцы сводит, а тут ты их расслабляешь, но потом потихонечку расходишься, выпрямляешься. И вот мышцы продуваются (ну я так это называю) и становиться хорошо, и снова можно садиться и педалить дальше.</p>
<p>Ну и время обеда!!! Ура!!!</p>
<%- include('../img_block', {url:url+"IMG_20150706_132431.jpg"}) %>
<p>Не то чтобы есть хочется всегда, но создаётся ощущение, что ты ешь её много, я так много обычно не ем. </p>
<p>В этой кафешке я заказал шурпу. Пить хочется так много и постоянно, что при мысли о сухой еде жутко хочется пить!!!</p>
<p>А шурпа была что надо, жирнющая, огромный кусок мяса, пол-лепёшки, салатик и целый большой чайник. Я всё съел!!! (нет посуду оставил). Пиалушки чая пьёшь одну за одной. Встаёшь изо стола и понимаешь, желудок не то чтобы сытый, а набитый по максимуму. И мысль – блин, может ещё самсы дерябнуть))).</p>
<p>Самсу, таки, я купил, но есть не стал, заготовил на ужин, на всякий случай.</p>
<%- include('../img_block', {url:url+"IMG_20150706_132453.jpg"}) %>
<p>Впереди Джизак. Да, да, он где-то перед перевалом. Но только встав из-за стола, или чуть позже, понял как хочу спать. И найдя первый приличный тенёк под деревом, остановился на привал. Расстелил каримат и только прилёг, бац - вырубился).</p>
<p>Вообще, со сном во время путешествия как-то не было проблем. Не приходилось считать барашков, или, тупо, до ста, не надо было очищать мозг от мыслей, что накопились за день, не нужно было освобождаться от разработки планов на года вперёд. Благо успевал доносить голову до подушки (собранной из кроссовок), а не падал прямо так)))).</p>
<p>В Джизак я не заезжал, дорога идёт в обход и ведёт прямиком к самаркандскому перевалу (ну мне его так называли). А что это значит? О, даааа! это постоянные подъёмы, а ноги почти никакие))).</p>
<%- include('../img_block', {url:url+"IMG_20150706_163601.jpg"}) %>
<p>Подъехал к перевалу я не в очень удачное время, что-то около четырёх, а значить было ещё очень жарко, и как следствие подъёмы были слегка не комфортные).</p>
<p>Дорога через перевал делается (судя по увиденному уже давно) и очень активно. Поэтому качество дороги варьируется от &quot;о ужас это что дорога?&quot; до &quot;нуууу классссс!!!&quot;.</p>
<p>Частенько я спешивался и тянул своего верного коня под узды). И тут, я думаю, пришло рассказать как вообще относятся к велотуристу.</p>
<p>Одним словом &quot;хорошо&quot;. В чём это выражается? в том что с тобой постоянно все здороваются и улыбаются. Раз 600 я делал ручкой в ответ на приветствие. Многие вадилы подсигналивают и тянут руки в окна, мол здарова! Когда останавливаешься, бывает к тебе подходят, тянут руку, здороваются и спрашивают откуда ты, и куда едешь. А услышав ответ, удивляются, желают удачи.</p>
<p>Позже я начал понимать, что меня воспринимают за иностранца. Длинные волосы, белая рубашка и полный багажник вещей. И многие могут сказать, что, мол, своего бы они так не приветствовали, я считаю, что это не так. Своему было бы сложно показать, что он турист, а не простой парень из местного аула, что едет в соседний. Но узнав, какой он держит путь, тоже желали бы всего хорошего.</p>
<p>Существует городской предрассудок - поездка загород, это крайне опасное предприятие, по причине злых людей в посёлках. Я убеждён, что это не так. Никто ни разу не кинул в меня камнем или палкой, никто не обматерил или сказал плохое слово. Все были заинтересованы моим поступком. Проявляли откровенный интерес. Пускай некоторым я смог лишь объяснить, что еду из Ташкента в Самарканд, но и те подносили руку сердцу и говорили доброе. </p>
<p>Конечно же, скорее всего, есть и злые среди добрых. Но, опять-таки, я убеждён, что нарваться на ублюдка в городе на два порядка легче, чем за городом.</p>
<p>Было очень приятно как меня приветствуют, и я старался каждого не оставить и своим вниманием говоря добрые слова в ответ.</p>
<p>В начале перевала, от жары спрятался на остановке. Ко мне подошли два парня. Ни капли понимания русского и ни капли агрессии и много интереса. Думаю, попроси я чего-нибудь у них, они бы довели меня до того, кто хоть что-то понимает о том что я говорю, а поняв, постарались бы помочь.</p>
<p>Вообще у нас какое-то странное отношение к путникам. И раньше я готов был помочь, а сейчас сделал бы всё возможное, чтобы помочь.</p>
<p>Много слов, надо вставлять картинку.</p>
<%- include('../img_block', {url:url+"IMG_20150706_171141.jpg"}) %>
<p>Благо вечерело, и подъём становился более комфортабельным)))).</p>
<%- include('../img_block', {url:url+"IMG_20150706_171220.jpg"}) %>
<p>Ну сказать, что мне прямо вот комфортно ..... но всё лучше.</p>
<%- include('../img_block', {url:url+"IMG_20150706_171158.jpg"}) %>
<p>Перевал идёт скорее по предгорью чем в горах, но всё равно виды хорошие. Я почему-то свободу и простор чувствую только в горах, может, это оттого, что видно всё вокруг и всё так интересно. Да и дышится как-то особенно легко.</p>
<%- include('../img_block', {url:url+"IMG_20150706_172426.jpg"}) %>
<p>Участок новой дороги, просто сказка, когда по ней скатываешься.</p>
<%- include('../img_block', {url:url+"IMG_20150706_172853.jpg"}) %>
<p>Почему-то мне очень нравиться как в холме вырезали кусочек, чтобы проложить дорогу. Инженеры таки тут стояли, и вдруг один из них говорит, хочу чтобы прямо тут. Остальные развели руками – ну хочется ему, и куска холма теперь нету).</p>
<p>Температура спадала, вечер окрашивал горы в удивительные цвета. Это время дня в горах я просто обожаю. Поэтому я уже получал удовольствие от моего пешоходенья, пускай и приходилось тянуть велак вверх. К слову сказать, перепады там не очень серьёзные. И на свежие ноги возможно я бы проехал не слезая, но ситуация была другая.</p>
<p>Тем временем близился закат.</p>
<%- include('../img_block', {url:url+"IMG_20150706_193427.jpg"}) %>
<p>Дальше дорога была не слишком хорошей, но зато ветер дул в спину, и определённо был лёгкий уклон вниз. Хотя были и очень крутые затяжные спуски. По дороге я заглянул в ещё одну кафешку, и из предложенных: самса, шурпа, шашлык, что я выбрал? Верно - шурпу, так как жажда не отпускала))). Шурпа эта была не такая вкусная, и подороже (не знаю связанно ли это))) ).</p>
<%- include('../img_block', {url:url+"IMG_20150706_201916.jpg"}) %>
<p>И вот они 250км!!! Значит, что до цели каких-то 50 км, а это ведь мелочь,  т. е. я совсем рядом).</p>
<p>И вроде стоило бы поднажать и поскорее добираться до города. Но уже стало темно, ноги могли уже в основном только ходить). Да и экономический расчёт был важен. Ведь если приехать в город даже в 12 ночи, то платить придётся за весь день, а потом ещё за день. А можно остановиться под деревом, и с утречка на свежую добраться в город и заселиться уже по нормальному). Так и решил.</p>
<%- include('../img_block', {url:url+"IMG_20150706_211946.jpg"}) %>

<%- include('../img_block', {url:url+"IMG_20150707_070732.jpg"}) %>
<p>Оооо, этот привал был лучшим. Ужинать я не стал. Самсу, купленную ранее, оставил на завтрак, и она так хорошо пошла, подозреваю, что это была джизакская самса и она была  очень вкусная. Ночевалось отлично. Не было ни комаров, ни мошкары. Можно было чуток вылазить из спальника, когда становилось жарко. Я очень угадал со своим решением.</p>
<h3>3й день</h3>
<p>За спиной 258 км за 40 часов. Ноги ещё слабее. Блин, ночь не особо помогает в восстановлении сил))). Как позже оказалось, в этом деле помогает день без катания).</p>
<p>Уже совсем скоро Самарканд и вроде я даже готов доехать до него.</p>
<%- include('../img_block', {url:url+"IMG_20150707_075420.jpg"}) %>
<p>Дорога была хорошей. Ветра особо не было, но было как-то сразу жарко что ли.</p>
<%- include('../img_block', {url:url+"IMG_20150707_093437.jpg"}) %>
<p>И я до него добрался!!! Вот какой счастливый))).</p>
<%- include('../img_block', {url:url+"IMG_20150707_094727.jpg"}) %>
<p>Чуть дальше и 3я сотня подошла. Блин 300 км!!! А вот сейчас пишу и думаю, это много или мало, и не могу дать ответа себе самому. Хотя нет, это караул как много!!!</p>
<p>В  Самарканд  я ваехал крайне уставшим. Что я чувствовал тогда? Да, я думал, что крут, что это было как-то совсем непросто, но этот, капец, длинный путь я сумел пройти. Пускай из испытаний было только преодоление боли в мышцах, смирение с монотонностью дороги и что-то ещё не столь значительное, но было ощущение - хрен знает зачем, но я это сделал - я силён.</p>
<p> Жуть как хотелось искупаться. </p>
<p>Хотелось ли на тот момент ехать обратно на велаке - НЕТ!!! Я думал лишь о том на чём поеду))). Так сказать, пооптимальнее варианты цен.</p>
<p>Я доехал до регистана, и решил, что как-то уже надо попробовать найти ту гостиницу в которой планировал остановиться. Она оказалось прям-прям рядом с регистаном, буквально, выходишь из гостиницы и видишь это древнее сооружение.</p>
<h3>Гостиница</h3>
<p>Подхожу к гостинице, а у дверей уже стоит один из братьев, что управляют отелем под названием &quot;B&amp;B Hotel&quot;. </p>
<p>Он мне - хелоу. Я ему - Добрый день, но можно и по руски. Он - проходите пожалуйста. Я прохожу, уже готовлюсь поставить велосипед на входе, но тут он говорит – нет, нет, ставьте велосипед вместе с остальными. Я не понял, но говорю - давайте я сначала посмотрю, что вы предлагаете. Он согласился. </p>
<p>И так, мы проходим дальше, и тут я вижу штук десять велосипедов обвешанные сумками - настоящие велопутешественники!!! Я, мягко говоря, афигел! Никого по пути я не видел, а тут их столько. По лицам вижу что иностранцы. У администратора спрашиваю - откуда они понаехали. Внятного ответа он не дал.</p>
<p>Мне показали номер, я согласился его взять, предварительно слегка поторговавшись.</p>
<p>А пока мы тут приберём, посидите во дворике со всеми (т.е. там такой внутренний дворик получился, где стояли велаки, а вокруг номера). </p>
<p>Сажусь, значить, со всеми. А все увидели, что я тоже на велаке с вещами. И тут подходит ко мне один из них и начинает спрашивать чего-то на английском. И как оказалось, я понимаю что мне говорят очень даже хорошо. </p>
<p>Так вот он спрашивает, а отвечать то я, в общем, то и не могу))). Пересилив смущение ужасного познания языка, я таки смог что-то ему поотвечать, да и в дальнейшем и порой словами, а порой пальцами, успешно мог донести мою мысль, но всё равно это давалось крайне сложно.</p>
<p>Первый подошедший ко мне был немец, довольно молодой худощавый парень. Он спросил -откуда я. Отвечаю - с Ташкента, а вы откуда едите? На что он отвечает: мы с Турции. Вот тут я, вообще, афигел. Турция в велосипедном масштабе это очень-очень далеко. А сколько вы едите -  спрашиваю я. Он отвечает - пол года.</p>
<p>Вот так я из велико путешественника, что доехал до Самарканда!!! для самого себя превратился в &quot;да я так, за хлебушком тут съездил&quot;.</p>
<p>Размышлял об этом до тех пор, пока мне не подготовили номер, после чего я перетащил вещи, принял душ и почувствовал себя более или менее нормальным человеком))).</p>
<%- include('../img_block', {url:url+"IMG_20150707_123711.jpg"}) %>

<p>А было уже время обеда, и мне нужно было идти в город и искать место в котором хотелось бы поесть). Бродил я долго. В туристических кафе не хотелось седеть, и потому, что думал об экономии денег  и желал увидеть не туристов, а обычных самаркандцев. </p>
<p>От Самарканда я ожидал чего-то большего. Понятное дело, что на мои впечатления наложилось и моя сильная усталость, и сильная жара, и долгие поиски кафе. Надо было на велаке поехать, на нём передвигается побыстрее и не так жарко, но желания садиться в седло не было никакого. Да и начал понимать я уже, что не вернуться мне в Ташкент на машине. Поэтому я старался не напрягать те мышцы, что отпедалировали три дня.</p>
<p>И так город, а вернее, улочки на которых я побывал. Они показались мне какими-то очень песочными, и жутко однообразными. Пошёл по махале, хотя дорога была большой (возможно, это и не было махалёй в нашем понимании). Ощущение, что все строятся. Чуть ли в каждом втором доме идут строительные работы. Что-то кладётся, что-то штукатуриться. Прям ощущение будто всех узбеков выгнали из России и они от безделья занялись стройкой.</p>
<%- include('../img_block', {url:url+"IMG_20150707_161018.jpg"}) %>
<%- include('../img_block', {url:url+"IMG_20150707_162600.jpg"}) %>
<%- include('../img_block', {url:url+"IMG_20150707_162603.jpg"}) %>

<p>А вот такого в Ташкенте я не видел. Это значит такой большой кусок обычного льда, что кладётся на стул, перед ним пацан (именно маленькие дети этим занимаются) ножом наскрёбывает ледяную крошку. Затем это кладётся в тарелочку и поливается сиропом. Видел это я не раз, и даже на базаре большом. Вокруг обычно стоит много таких же детей. Определённо это холодное лакомство делается  за деньги, но сколько это стоит выяснить не удалось, так как узбекский я не знаю вообще (ко своему разочарованию).</p>
<p>В итоге я поел куриного шашлыка))). Вот так вот банально, так как искать надоело. </p>
<%- include('../img_block', {url:url+"IMG_20150707_170612.jpg"}) %>
<p>Дошёл до длинной тенистой алеи, вдоль которой стоят белы статуи. Сил идти не было. Поэтому я решил посидеть на скамейке, отдохнуть и остыть. И даже удалось слегка вздремнуть).</p>
<p>Ближе к древним постройкам, всё чаще мелькают иностранцы. И не сильно стесняясь, местные жители раздают приветствия им. Т. е. сидишь такой на скамеечке, проходит кто-то и скажет тебе &quot;Хелоу&quot;. То ребёнок какой-то &quot;Хало&quot;. Говорили они это и мне, признавая меня за иностранца, точнее, именно за немца, видимо, сказывался цвет моей кожи и нестандартный. А людей со светлой кожей крайне мало, можно по пальцам пересчитать, и чаще женщины.</p>

<%- include('../img_block', {url:url+"IMG_20150707_175413.jpg"}) %>
<%- include('../img_block', {url:url+"IMG_20150707_175505.jpg"}) %>
<p>А Тимур у них сидит. Видимо, в Самарканде он отдыхал чаще, а в Ташкенте чаще по делам. Разговорился с теми вот девушками. Говорю, лицо у этого Тимура мало похоже на то что у ташкентского. А девушки утверждали черты лица на этом памятники самые правильные - патриотизм! Я не спорил, так как и у меня было желание позащищать свой город, но я с этим желанием справлялся). </p>
<%- include('../img_block', {url:url+"IMG_20150707_181113.jpg"}) %>
<%- include('../img_block', {url:url+"IMG_20150707_182803.jpg"}) %>
<p>Потихонечку добрался я до комплекса регистан. На нём репетировались танцы. Очень много людей. На заднем фоне молодые люди делают волну, на переднем - девушки танцуют что-то интересное. Мне нравится узбекский танец, в нём очень много символов и значений. Был у них и главный, что позволял себе такие выражения: "Так, так ... понятно ... теперь давайте посмотрим это безобразие ...". Он сидел в будке руководителей, и был из неё очень недоволен. А у меня крутилась мысль - будь я на их месте, послал бы я тебя куда подальше уже очень давно))). Долго сидел, а они всё плясали. Я доел самсу, купленную по пути, и решил, что нужно купить ещё одно мороженое. Стаканчик вкуснейшего мороженого всего за 1000 сум (22 цента), не удивительно что я туда ходил раза четыре).
</p>
<%- include('../img_block', {url:url+"IMG_20150707_192518.jpg"}) %>
<p>
    Посидел, полюбовался на регистан сбоку и понял, что хочется пообщаться с теми самыми странными людьми в отеле.</p>

<%- include('../img_block', {url:url+"IMG_20150707_194655.jpg"}) %>
<p>Мне повезло, многие были тут, общались, готовились к ужину.
</p>
<p>Хочется рассказать немного об их велосипедах. Отличительная черта (ну что я зафиксировал для себя) - простота конструкции. Ни на одном велаке я не увидел амортизаторов, даже на переднем колесе его нет. Большинство рам стальные. Дисковых тормозов мало, на фотке у одного на заднем колесе. Про гидравлику и говорить нет смысла. То есть максимально простые, и причина этому - чем меньше деталей, тем надёжнее агрегат (ну я так предполагаю). Хотя, может, взяли что было подешевле). Подслушал, что даже при этом у них случается много поломок, таких как - задняя втулка сломалась пополам (я даже не думал, что так бывает). Колёса у всех средней толщины.</p>
<p>Поэтому мой велак рассматривали с интересом, но мельком.
    Думаю они понимали масштаб моего путешествия по комплектации велака.</p>


<%- include('../img_block', {url:url+"IMG_20150707_194701.jpg"}) %>
<p>На фото слева итальянец, а справа француз.
    Как оказалось, они из разных групп.
    Ещё там были немцы: две семейные пары и два молодых парня;
    одна французская семейная пара; один ирландец и ещё один.</p>
<p>Они все много общались между собой,
    а я по мере своих познаний английского языка пытался их понимать.
    И в голове крутились странные вопросы.
    Я всё пытался понять лично для себя, круты они или нет,
    хочу я быть как они или нет.</p>
<%- include('../img_block', {url:url+"IMG_20150707_194709.jpg"}) %>
<p>Позже я таки решился помучить путешественников своими вопросами.
    Француз был очень терпелив и охотно отвечал на коряво
    поставленные вопросы).
    Я выяснил, что он со своей девушкой, ну он так её назвал
    (хотя на их сайте у них одна фамилия)
    путешествуют вдвоём.
    Он дал визитку на которой была ссылка на их сайт.
    Вот она <a href="//frogsonwheels.net/">www.frogsonwheels.net</a>.
    Уже дома я узнал, что они делают кругосветное путешествие.
    Начали они с Европы и вот уже в Узбекистане.
    Путешествуют они на очень нестандартных велосипедах.
    На фото очень непонятно вышло, но на сайте, если интересно,
    можно найти фото и получше.</p>
<%- include('../img_block', {url:url+"IMG_20150707_194719.jpg"}) %>
<%- include('../img_block', {url:url+"IMG_20150707_194726.jpg"}) %>
<%- include('../img_block', {url:url+"IMG_20150707_194734.jpg"}) %>


<p>На раме велосипеда расположены флаги стран что они уже проехали.
    Теперь там есть и узбекский флаг. </p>
<p>Первый вопрос возникший у меня тогда - зачем, зачем всё это?
    Он ответил, что цели по сути нет.
    Они просто едут, делают что хотят. Не хотят работать.
    Ранее он работал и скопил некоторое количество денег и сейчас потихонечку их тратит, именно потихонечку. Спрашиваю - а на какие деньги вы так долго едите, а он - ездить на велосипеде очень дёшево. Едят они в основном макароны, рис и прочее с какой-нибудь подливой. А мясо спрашиваю, он - ооо, мясо - это слишком дорого. А гостиница? Он - в гостиницу заехали только из-за обязательной регистрации, т. е. необходимость, что-то связанное с визой (такие детали я не успел расспросить). А сколько проезжаете в день? он - ну, по-разному, бывает от 7 до 70 км. А спите? Он - в палатках. А как же работа? Он - я инженер, взял и уволился, а вот немцы (показывает на группу) у них, говорит, есть возможность взять отпуск на год, вот они и колесят пока отпуск.</p>
<p>Это основное, что хотелось передать из нашего разговора, опущу вопросы велаке и других о мелочах. Потом его позвали ужинать и он ушёл, я же не решился мешать есть те самые макароны с пастой))).</p>
<p>Глядя на них, я понял, что колесить по миру очень непростое, но очень даже доступное предприятие. Для этого нужно иметь велак и кое-какое снаряжение, немного денег (не миллион долларов, а хватит 1000-3000 $ на полгодика), ну и, конечно же, решительность. Также, если ехать не по рускознающим странам нужен английский как минимум, а чем больше языков знаешь, тем лучше. Но вот только сколько таких решительных? Спросил Николаса, это тот француз, и много таких как ты во франции? Он сказал, что больше не знает подобных. Ну так кто готов?</p>
<p>Вечер я просидел в их компании. Более я вопросов особо не задавал, так как уж очень смущает задавать вопросы пальцами). Они очень дружно общались, много шутили. Особо весёлым был итальянец с большущей бородой и планами поездить  по Помиру. Немцы, между собой разговаривали на своём, но только к ним подходил кто другой, переходили на английский. То есть основное общение на междунороднем английском. </p>
<p>Конечно, общение с этими людьми сказалось на меня. Даже в том, что вариант безвелосиподного пути домой уже не рассматривался. 300 км перестали быть достижением. Это как полудостижение, а вторую половинку уже недобрать позже. Поэтому обратный путь на велосипеде, и только тогда, возможно, я что-то почувствую нужное, т. к. от половины пути нужных мыслей не прибавилось.</p>
<p>А потом я ушёл спать. И снова сон захватил меня мгновенно))).</p>
<h3>День четвёртый</h3>
<p>Выспался. Ощущение в ногах - почти как новенькие. Удивительно, но дня хватило, чтобы хоть как-то избавиться от ватности в ногах.</p>
<p>А дальше завтрак. Завтракал я со всем, и всё слушал и слушал путешественников. Понял, что стартуют они точно не утром, а так хотелось посмотреть, как эта колонна движется по дороге. Потому решил не тянуть и выдвигаться. Отчитался за номер, вернулся к велосипедистам, на тот момент за столом их оставалось трое, остальные разбрелись по номерам. Хотелось как-то со всем попрощаться, но по номерам ходить я не решился, потому удалось попрощаться лишь с немцем итальянцем и ирландцем. Делал я это всё на том же ломаном английским, но с большим желанием вложить самое доброе и скренее. В их словах чувствовалось то же самое. И я поехал.</p>
<p>Очень хотелось посмотреть их аэропорт. Благо всё очень просто найти, всё рядом, особенно, если ты на велаке. Город небольшой, да и люди очень сильно стремятся тебе помочь. Ещё несколько фото другой части города.</p>
<%- include('../img_block', {url:url+"IMG_20150708_110800.jpg"}) %>
<%- include('../img_block', {url:url+"IMG_20150708_110804.jpg"}) %>
<p>По мне, так они очень однообразны, что ли, и все розовопесочные.</p>
<%- include('../img_block', {url:url+"IMG_20150708_111309.jpg"}) %>
<p>А это уже окраина города. Вдали всё те же очень даже симпатичные древние узбекские постройки.</p>
<%- include('../img_block', {url:url+"IMG_20150708_112152.jpg"}) %>
<p>Аэропорт меня разочаровал(((. Кто не знает, это копия нашего нового аэропорта, точнее, аэропорт номер три, для местных авиалиний. Блин, ну, могли бы чуток и напрячься. Разочаровался и двинулся потихонечку в сторону Ташкента.</p>
<%- include('../img_block', {url:url+"IMG_20150708_114147.jpg"}) %>
<p>И снова старт, но уже в Ташкент. Ноль километров на одометре. Настроение бодрое. Время запланированное на поездку два-три дня.</p>
<%- include('../img_block', {url:url+"IMG_20150708_120237.jpg"}) %>
<p>И наконец-то, я нашёл обычную чайхону, где задёшево меня накормили вкусным пловом, которого мне хватило и на обед, и на ужин).</p>
<p>Ехалось нормально. Мышцы хорошо держали нагрузку, и я катил со скорость в среднем 17-20 км/ч. Получений опыт говорит о том, что когда рассчитываешь многодневный путь, за среднюю скорость надо брать 15 км в час. Такая цифра выходит из такого расчёта. Обычная скорость на спидометре 20-25 км в час, но если принять во внимание усталость, встречный ветер, плохую дорогу и тому подобное, то выходит, что скорее 20 км в час. Педалировть без перерыва целый день нереально, а значить, будут и привалы, поэтому средняя скорость падает где-то на пять км/ч. </p>

<%- include('../img_block', {url:url+"IMG_20150708_153946.jpg"}) %>
<p> Ещё раз полюбовавшись местными горами, поехал дальше.</p>
<%- include('../img_block', {url:url+"IMG_20150708_155401.jpg"}) %>
<p> Граница самаркандской области, и это значит первые 50 км).</p>
<%- include('../img_block', {url:url+"IMG_20150708_162239.jpg"}) %>
<p> Дорога до горизонта почти прямая, но в основном в горку.</p>
<%- include('../img_block', {url:url+"IMG_20150708_182523.jpg"}) %>

<%- include('../img_block', {url:url+"IMG_20150708_182529.jpg"}) %>
<p> На пике перевала, установлена вот такая композиция. Я её распознал как "большая хищная птица, а у левого крыла птица поменьше, что отгоняет охотника от своего гнезда". </p>
<p>На самом деле, по пути встречается много больших хищных птиц. Ну, не орлы (хотя, разок я видал и очень большую птицу), но соколов и им подобных (я совсем в них не разбираюсь) очень много. И видел как мелкие птицы гоняют этих хищников. Подымается много шума. Защитники так стремительно кружатся, мечутся, почти что атакуют, а хищник лениво, типа, да отстаньте, я тут просто пролетал, старается побыстрее свалить).</p>
<%- include('../img_block', {url:url+"IMG_20150708_183815.jpg"}) %>

<%- include('../img_block', {url:url+"IMG_20150708_190643.jpg"}) %>
<p>Уже совсем вечерело, но я успевал проехать перевал. В темноте было бы не комфортно через него проходить.</p>
<%- include('../img_block', {url:url+"IMG_20150708_194147.jpg"}) %>
<p>А это уже фото первой сотни (кулака совсем не видно). На обратном пути фотографировал куда меньше.</p>
<%- include('../img_block', {url:url+"IMG_20150708_194154.jpg"}) %>
<p>Увязались за мной местные велотуристы. Очень приятный у него, между прочим, велосипед. С ними по-дружески о чём-то поговорили - а вы откуда? и так далее.</p>
<%- include('../img_block', {url:url+"IMG_20150708_195917.jpg"}) %>
<p> Закат над горами это всегда очень круто выглядит. И вот она долгожданная прохлада!</p>
<%- include('../img_block', {url:url+"IMG_20150708_200511.jpg"}) %>
<p>Всю дорогу меня обгоняли вот такие смешные машины. Почему-то они ассоциируются у меня с кавказцами, с их большими головными уборами). Обгонят, и на тебя летит стог сена практически))). Страшно подумать какие они большие в начале пути, если так много с них слетает на каждом метре.</p>
<p>Вот так потихонечку начало темнеть. Я выбрал для себя замечательное место между двумя скошенными полями под деревцами. Поужинал пловом, попил чаю и очень быстро уснул. Комаров не было, поэтому спалось очень хорошо.</p>
<h3>5й день</h3>
<p>Что лучше всего вас может заставит встать? Даже  в полшестого?</p>
<p>Рассвет? - ну, что за ерунда))). Будильник? - под него я могу сладко спать хоть всё утро))). Дождичек в лицо? - ооо, это уже лучше, особенно когда сразу же приходит мысль - опа, сейчас ливанёт, надо прятаться. Но оказалось, есть что-то получше)))).</p>
<p>Просыпаюсь, значит, под звон будильника. Ощущаю что довольно хорошо выспался, но можно переставить на 5 минуточек, ну, чтобы наверняка выспаться. Лёжа на боку я открываю глаза, а перед моим лицом ползёт БОЛЬШОЙ ЧЁРНЫЙ ПАУК!!!!! Вот тут я, прям, как-то вот так раз и встал))))). Даже не стал будильник переставлять))).</p>
<p>Паук оказался очень добрым, он не стал бросаться на меня с целью искусать до полусмерти, обмотать паутиной и сожрать. Нет, он продолжал себе куда-то полсти, и как потом я выяснил, просто искал новое место, где можно затаиться и ждать муху цикатуху  или её друзей на обед).</p>
<%- include('../img_block', {url:url+"IMG_20150709_053211.jpg"}) %>
<p>А вот и тот паук. Кто-то скажет - ой паучка испугался, трус. На самом деле у меня есть фобия такая). Но и паук был немаленький. Это степная вдова, родственница той самой чёрной вдовы, а у нас зовут таких -  каракурт. И как я потом выяснил, укус этих милых животных довольно болезнен для человека, и сопровождается очень неприятными ощущениями по всему телу. Вот только, отличительным моментом для каракурта являются красные пятна на пузе, но в нете написано, что к созреванию пятна могут уходить.</p>
<p>Паники не было, я не такой, ну, или почти не такой). Поняв, что пауку я особо не нужен, я его прогнал с каримата, и начал обтряхивать все вещи. Оказалось, что ко мне в гости пришлось ещё двое таких милых восьминогих. Похоже, они, как и я, только проснулись и начали готовиться к ежедневной охоте. И я не сдержался, таки, взял одного паучка себе))) . Теперь  он живёт у меня дома, и я не рекомендую со мной враждовать - напоминаю укус паука очень болезненный!!!</p>
<%- include('../img_block', {url:url+"IMG_20150709_063250.jpg"}) %>
<p>А вот то самое замечательно место))). Отряхнув всё, я спокойненько позавтракал, купеной в Самарканде кукурузой, собрался, закрепился и тронулся в путь.</p>
<%- include('../img_block', {url:url+"IMG_20150709_065542.jpg"}) %>
<p>На тот момент я проехал 115 км, а значит, ещё пилить и пилить.</p>
<p>А пилилось поначалу, ну, совсем как-то нехорошо. Утреннее педалирование - это не очень моё. Всё болело и затекало. Ехалось очень медленно, и как-то сразу стало жарко.</p>
<%- include('../img_block', {url:url+"IMG_20150709_085446.jpg"}) %>
<p>Вот настолько тяжело мне далась отметка в 150км))).</p>
<p>И так я ехал пока не встретил очень простую чайхону, расположенную прямо на обочине, где меня накормили просто замечательной шурпой, лучшей из трёх. Мяса было много и оно было нежнючим и вкуснючим!</p>
<p>Ну, а после вкусного обеда по закону Архимеда нужно обязательно поспать. Что я и сделал. Нашёл замечательно место под деревьями. Ложусь, на каримат, чувствую, как по мне начинают полсти муравьи, щекочут (а мне это жутко нравиться) и очень приятно засыпаю.</p>
<p>Выспался, но ещё валяюсь, дремлю. Тут чувствую - что-то по мне ползёт. Думаю мураш большой (там реально большие мураши таки). Нет, чувствую, что не мураш. Очень так приятно ползёт, пушистенькое такое и куда больше, чем мураш. Доползает до плеча, я открываю глаза, а на мне сидит такой же большой чёрный паук, но уже с красными точками. И я снова труханул)))))))))) но без истерики (ну или почти). Чувствую, что намеревается полсти к лицу, и думаю - блин как же его смахнуть, да так чтобы не укусил ещё. Привстал, наклонился, а  он сам взял и упал, убежал в траву и там затихорился.</p>
<p>Вот так бывает))). Поэтому на будущее понял, что так просто в поле спать не слишком безопасно, нужно брать или сетку какую-то, или палатку (вот только тяжёлая она, но зато надёжная).</p>
<p>Паука я воспринял как знак - нужно собираться и ехать)))). Что и сделал.</p>
<%- include('../img_block', {url:url+"IMG_20150709_152631.jpg"}) %>
<p>200 км. Ну по фоткам километры прямо летять, прямо летять)))</p>
<%- include('../img_block', {url:url+"IMG_20150709_155628.jpg"}) %>
<p>У аистов я сделал остановку, и передохнуть в теньке и полюбоваться на этих больших птиц. Вон как оказывает живут они - кучками. Не знаю как спят, может, по отдельности, а потом днём встречаются у друга на хате))). Но днём вот так они стоят, иногда слегка передвигаются, и вдруг один возьмёт как и полетит. Очень красивые животные.</p>
<%- include('../img_block', {url:url+"IMG_20150709_195542.jpg"}) %>
<p>А дальше ехал, ехал, ехал. О чём думалось во время педалирования. Да не о чём особенно. Боль в мышцах и жажда постоянно отвлекают от глобального, о смысле жизни!))) А так едешь, смотришь на спидометр, и в голове - тааакк, еду со скоростью 20 км/ч, значит средняя где-то 15, и 100 км я сделаю за шесть часов с хвостиком. Дальше скорость чуток подросла 25 км/ч, в голове - тааааааак, значит средняя скорость уже 17 и 100 км я сделаю зааа ... И так постоянно. Считаешь километры, сколько их ехать, и во сколько ты примерно будешь. Если и размышлять о бытие в путешествии, так это по вечерам после ужина, но нужно поймать момент, когда ещё не уснул))).</p>
<%- include('../img_block', {url:url+"IMG_20150709_201410.jpg"}) %>
<p>Походу, 250 км))). То есть осталось всего лишь какиех-то 50 км, ну может, 60, с учётом того, что я доеду до дома, ну, максимум 65. Так, если со средней скоростью 15 км/ч, то это сколько будет ещё часов?.. Ко скольки уже буду дома?.. А если ехать со скоростью 20 ...</p>
<%- include('../img_block', {url:url+"IMG_20150709_202907.jpg"}) %>
<p>И снова вечерело))). Над одним полем увидел вот такой белый слой чего-то. Сначала думал туман от влажности, что подымается со вспаханной земли. Но потом увидел, что по нему едет трактор, и за ним тянется вот такой шлейф. То ли он взрыхлял толи опрыскивал, я уже не разглядел, но когда заехал в эту дымку, пахло как-то странно, и было тяжело дышать. </p>
<p>На тот момент я уже решил, что не стану останавливаться на ночлег, а уже хоть и глубокой ночью, но, таки, доеду до дома. До темноты кромешной я успел выехать на хорошую дорогу, включил фонарик и потихоньку проезжал нескончаемые километры.</p>
<p>Ехать по трассе ночью очень необычно. Не то чтобы опасно, нет. Просто, темнота делает всё вокруг таким таинственным. Видишь дорогу освещению фарами и фонарём, а по бокам будто чёрная бездна. Порой от туда доносятся какие-то звуки, а иногда повеет таким холодом, что аж дыхание спирает. И никакие спецэффекты 4д фильма не перекроют ощущение от пролетающей мимо фуры - светлое, большое, быстрое, шумное проскочит мимо тебя и скроется в темноте.</p>
<p>И 200 км в день - это очень много для меня. Малейшая горка и я спешивался и тащился, глядя вокруг и на звёздное небо, насчитав в итоге 2 упавшие звезды). Гулять вдоль трассы ночью очень таинственно. Особенно когда машины оставляют тебя на некоторое время наедине с чернотой и бесконечным небом. Вот тут можно поразмышлять о том, о сём. О том, как нас затягивает город, и схватив, обволакивает паутиной мелких забот, дел суетой. И в тот момент, это так явно чувствуешь, и так во всё это неохота. Единственно что тянет вперёд - это возможность принять ванну и сразу же лечь спать.</p>
<p>Мысль интересная посетила, или даже ощущение, когда я уже подъезжал к городу. Ощущение что вот это испытание, которое я сейчас прохожу, я как бы в нём, я создал его. И это ощущение, что я в испытании, вот сейчас заехав в город, останется позади, оно покинет меня, так этого не хотелось почему-то. Было ощущение, что я стал каким-то другим. Но также я понимал, что снова стану прежним, и этого не хотелось тоже.</p>
<%- include('../img_block', {url:url+"IMG_20150709_233931.jpg"}) %>
<p>Ну вот и город, точнее, ее на фотке блокпост. А по самому центру виден указатель, на котором длинным списком идут города, а напротив написано сколько до них ехать. Давным-давно я стоял у него, и видел напротив Самарканда 320 км, и очень хотел до него доехать). А теперь, я для себя отмечаю в этом списке другой город: Баку 2200 км)))) ... кто его знает, может, и там побывают мои колёса. </p>
<%- include('../img_block', {url:url+"IMG_20150709_234949.jpg"}) %>
<p>Ну и 300 км!!! Ощущение что кулак всё больше и крепче, а лицо всё меньше и изнеможённее)))) И прямо радость, прямо радость в глазах!!!)))) </p>
<%- include('../img_block', {url:url+"IMG_20150710_001352.jpg"}) %>
<p>Ну вот и всё, я дома. Эмоций нет)))))). Есть желание смыть пот, и, главное, не уснуть в ванной. А ещё нужно вынуть паука из банки (он пережил эту поезду) . И спать,  и спать.</p>
<h3>Итоги </h3>
<p>Так зачем всё это нужно было? Зачем было это испытание? Зачем нужно было тратить столько времени? Я до сих пор не могу дать чётких ответов.</p>
<p>Мне хотелось доехать до Самарканда, и всё. Я сделал это, и всё.</p>
<p>Понравилась ли мне поездка? На это ответить просто - да или нет, невозможно. За эти пять дней я перечувствовал столько - от боли, до большого удовольствия. Да и нового столько, и неожиданнго, и даже страшного. Это прямо такой концентрат жизни. Возьми описывать свою обычную неделю жизни, и тебе хватит пары абзацев, а тут я уже который день всё пишу и пишу  о том, как это было. Но так или иначе, это было круто!</p>
<p>Достоин ли я  похвалы, восхваления, респекта? Вот тут я, вообще, в замешательстве. Когда мне говорят - о, это круто, ты молодец. Я ничего не чувствую - потому что не вижу в этом ничего хорошего, ничего полезного. Я пять дней крутил педали, а мог сделать куча полезных вещей. Докрутил до одного места поехал обратно, ничего даже не доставил, ничего не забрал. В общем-то дело пустое же. А если про километры, мол я столько проехал - так я видел вживую тех людей, что проехали 5000 км и более. Я по сравнению с ними со своими 600 км, вообще никто.</p>
<p>Посоветовал бы ли я этого кому-нибудь? Определённо. Вдали от города, начинаешь понимать, что мы живём как-то однообразно, будто мы едим по одним и тем же рельсам изо дня в день, из поколения в поколение. Дорога не даёт ответа как жить иначе, но хотя бы помогает начать думать, желать чего-то нового.</p>
<p>Всё это я писал в основном для себя, чтобы ещё раз вспомнить и пережить что там было. Конечно, написал я не всё. Не написал как потеряли меня родители, когда мой телефон заглючил. Не написал как мне звонили, писали друзья, интересуясь почему обо мне нет инфы (это очень круто, когда ты реально ощущаешь что о тебе думают). Но если кто-то, таки, дочитал мой угловатый текст и ему было интересен, я очень рад)))</p>
<p>Спасибо за внимание)</p>


