
<% const url = '/cont/15_07_05_tashkent_samarkand_tashkent/'%>

<h3>День четвёртый</h3>
<p>
    Выспался.
    Ощущение в ногах — почти как новенькие.
    Удивительно, но дня хватило, чтобы хоть как-то избавиться от ватности в ногах.
</p>
<p>
    А дальше — завтрак.
    Завтракал я со всеми и всё слушал и слушал путешественников.
    Понял, что стартуют они точно не утром, а так хотелось посмотреть, как эта колонна движется по дороге.
    Потому решил не тянуть и выдвигаться.
    Отчитался за номер, вернулся к велосипедистам.
    На тот момент за столом их оставалось трое, остальные разбрелись по номерам.
    Хотелось как-то со всеми попрощаться, но по номерам ходить я не решился, потому удалось попрощаться лишь с немцем, итальянцем и ирландцем.
    Делал я это всё на том же ломаном английском, но с большим желанием вложить самое доброе и искреннее.
    В их словах чувствовалось то же самое.
    И я поехал.
</p>
<p>
    Очень хотелось посмотреть их аэропорт.
    Благо всё очень просто найти — всё рядом, особенно если ты на велике.
    Город небольшой, да и люди очень сильно стремятся тебе помочь.
    Ещё несколько фото другой части города.
</p>
<%- include('../img_block', {url:url+"IMG_20150708_110800.jpg"}) %>
<%- include('../img_block', {url:url+"IMG_20150708_110804.jpg"}) %>
<p>
    По мне, так они очень однообразны, что ли, и все розово-песочные.
</p>
<%- include('../img_block', {url:url+"IMG_20150708_111309.jpg"}) %>
<p>
    А это уже окраина города.
    Вдали всё те же очень даже симпатичные древние узбекские постройки.
</p>
<%- include('../img_block', {url:url+"IMG_20150708_112152.jpg"}) %>
<p>
    Аэропорт меня разочаровал(((.
    Кто не знает: это копия нашего нового аэропорта, точнее, аэропорт номер три для местных авиалиний.
    Блин, ну могли бы чуток и напрячься.
    Разочаровался и двинулся потихонечку в сторону Ташкента.
</p>
<%- include('../img_block', {url:url+"IMG_20150708_114147.jpg"}) %>
<p>
    И снова старт, но уже в Ташкент.
    Ноль километров на одометре.
    Настроение бодрое.
    Время, запланированное на поездку, — два-три дня.
</p>
<%- include('../img_block', {url:url+"IMG_20150708_120237.jpg"}) %>
<p>
    И наконец-то я нашёл обычную чайхану, где задёшево меня накормили вкусным пловом, которого мне хватило и на обед, и на ужин).
</p>
<p>
    Ехалось нормально.
    Мышцы хорошо держали нагрузку, и я катил со скоростью в среднем 17–20 км/ч.
    Полученный опыт говорит о том, что когда рассчитываешь многодневный путь, за среднюю скорость надо брать 15 км в час.
    Такая цифра выходит из следующего расчёта.
    Обычная скорость на спидометре 20–25 км в час, но если принять во внимание усталость, встречный ветер, плохую дорогу и тому подобное, то выходит, что скорее 20 км в час.
    Педалировать без перерыва целый день нереально, а значит, будут и привалы, поэтому средняя скорость падает где-то на пять км/ч.
</p>

<%- include('../img_block', {url:url+"IMG_20150708_153946.jpg"}) %>
<p>
    Ещё раз полюбовавшись местными горами, поехал дальше.
</p>
<%- include('../img_block', {url:url+"IMG_20150708_155401.jpg"}) %>
<p>
    Граница Самаркандской области, и это значит — первые 50 км).
</p>
<%- include('../img_block', {url:url+"IMG_20150708_162239.jpg"}) %>
<p>
    Дорога до горизонта почти прямая, но в основном в горку.
</p>
<%- include('../img_block', {url:url+"IMG_20150708_182523.jpg"}) %>

<%- include('../img_block', {url:url+"IMG_20150708_182529.jpg"}) %>
<p>
    На пике перевала установлена вот такая композиция.
    Я её распознал как «большая хищная птица, а у левого крыла — птица поменьше, что отгоняет охотника от своего гнезда».
</p>
<p>
    На самом деле по пути встречается много больших хищных птиц.
    Ну, не орлы (хотя разок я видал и очень большую птицу), но соколов и им подобных (я совсем в них не разбираюсь) очень много.
    И видел, как мелкие птицы гоняют этих хищников.
    Поднимается много шума.
    Защитники так стремительно кружатся, мечутся, почти что атакуют, а хищник лениво — типа, да отстаньте, я тут просто пролетал — старается побыстрее свалить).
</p>
<%- include('../img_block', {url:url+"IMG_20150708_183815.jpg"}) %>

<%- include('../img_block', {url:url+"IMG_20150708_190643.jpg"}) %>
<p>
    Уже совсем вечерело, но я успевал проехать перевал.
    В темноте было бы некомфортно через него проходить.
</p>
<%- include('../img_block', {url:url+"IMG_20150708_194147.jpg"}) %>
<p>
    А это уже фото первой сотни (кулака совсем не видно).
    На обратном пути фотографировал куда меньше.
</p>
<%- include('../img_block', {url:url+"IMG_20150708_194154.jpg"}) %>
<p>
    Увязались за мной местные велотуристы.
    Очень приятный у него, между прочим, велосипед.
    С ними по-дружески о чём-то поговорили: «А вы откуда?» и так далее.
</p>
<%- include('../img_block', {url:url+"IMG_20150708_195917.jpg"}) %>
<p>
    Закат над горами — это всегда очень круто выглядит.
    И вот она — долгожданная прохлада!
</p>
<%- include('../img_block', {url:url+"IMG_20150708_200511.jpg"}) %>
<p>
    Всю дорогу меня обгоняли вот такие смешные машины.
    Почему-то они ассоциируются у меня с кавказцами, с их большими головными уборами).
    Обгонят, и на тебя летит стог сена практически))).
    Страшно подумать, какие они большие в начале пути, если так много с них слетает на каждом метре.
</p>
<p>
    Вот так потихонечку начало темнеть.
    Я выбрал для себя замечательное место между двумя скошенными полями под деревцами.
    Поужинал пловом, попил чаю и очень быстро уснул.
    Комаров не было, поэтому спалось очень хорошо.
</p>