<% const url = '/cont/15_07_05_tashkent_samarkand_tashkent/'%>

<h3>3-й день</h3>
<p>
    За спиной 258 км за 40 часов.
    Ноги ещё слабее.
    Блин, ночь не особо помогает в восстановлении сил))).
    Как позже оказалось, в этом деле помогает день без катания).
</p>
<p>
    Уже совсем скоро Самарканд, и вроде я даже готов доехать до него.
</p>
<%- include('../img_block', {url:"IMG_20150707_075420.jpg",article}) %>
<p>
    Дорога была хорошей.
    Ветра особо не было, но было как-то сразу жарко что ли.
</p>
<%- include('../img_block', {url:"IMG_20150707_093437.jpg",article}) %>
<p>
    И я до него добрался!!!
    Вот какой счастливый))).
</p>
<%- include('../img_block', {url:"IMG_20150707_094727.jpg",article}) %>
<p>
    Чуть дальше — и третья сотня подошла.
    Блин, 300 км!!!
    А вот сейчас пишу и думаю: это много или мало? — и не могу дать ответа себе самому.
    Хотя нет — это караул как много!!!
</p>
<p>
    В Самарканд я въехал крайне уставшим.
    Что я чувствовал тогда?
    Да, я думал, что крут, что это было как-то совсем непросто, но этот капец какой длинный путь я сумел пройти.
    Пускай из испытаний было только преодоление боли в мышцах, смирение с монотонностью дороги и что-то ещё не столь значительное, но было ощущение: хрен знает зачем, но я это сделал — я силён.
</p>
<p>
    Жуть как хотелось искупаться.
</p>
<p>
    Хотелось ли на тот момент ехать обратно на велике — НЕТ!!!
    Я думал лишь о том, на чём поеду))).
    Так сказать, пооптимальнее варианты цен.
</p>
<p>
    Я доехал до Регистана и решил, что как-то уже надо попробовать найти ту гостиницу, в которой планировал остановиться.
    Она оказалась прям-прям рядом с Регистаном — буквально выходишь из гостиницы и видишь это древнее сооружение.
</p>
<h3>Гостиница</h3>
<p>
    Подхожу к гостинице, а у дверей уже стоит один из братьев, что управляют отелем под названием "B&B Hotel".
</p>
<p>
    Он мне: «Хеллоу».
    Я ему: «Добрый день, но можно и по-русски».
    Он: «Проходите, пожалуйста».
    Я прохожу, уже готовлюсь поставить велосипед на входе, но тут он говорит: «Нет, нет, ставьте велосипед вместе с остальными».
    Я не понял, но говорю: «Давайте я сначала посмотрю, что вы предлагаете».
    Он согласился.
</p>
<p>
    Итак, мы проходим дальше, и тут я вижу штук десять велосипедов, обвешанных сумками — настоящие велопутешественники!!!
    Я, мягко говоря, офигел!
    Никого по пути я не видел, а тут их столько.
    По лицам вижу, что иностранцы.
    У администратора спрашиваю: «Откуда они понаехали?»
    Внятного ответа он не дал.
</p>
<p>
    Мне показали номер, я согласился его взять, предварительно слегка поторговавшись.
</p>
<p>
    «А пока мы тут приберём, посидите во дворике со всеми» (т. е. там такой внутренний дворик получился, где стояли велики, а вокруг — номера).
</p>
<p>
    Сажусь, значит, со всеми.
    А все увидели, что я тоже на велике с вещами.
    И тут подходит ко мне один из них и начинает спрашивать чего-то на английском.
    И, как оказалось, я понимаю, что мне говорят, очень даже хорошо.
</p>
<p>
    Так вот он спрашивает, а отвечать-то я, в общем-то, и не могу))).
    Пересилив смущение от ужасного познания языка, я таки смог что-то ему поотвечать.
    Да и в дальнейшем — порой словами, а порой пальцами — успешно мог донести мою мысль, но всё равно это давалось крайне сложно.
</p>
<p>
    Первый подошедший ко мне был немец, довольно молодой худощавый парень.
    Он спросил, откуда я.
    Отвечаю: «Из Ташкента», а вы откуда едете?
    На что он отвечает: «Мы из Турции».
    Вот тут я вообще офигел.
    Турция в велосипедном масштабе — это очень-очень далеко.
    «А сколько вы едете?» — спрашиваю я.
    Он отвечает: «Полгода».
</p>
<p>
    Вот так я из велопутешественника, что доехал до Самарканда!!!, для самого себя превратился в «да я так, за хлебушком тут съездил».
</p>
<p>
    Размышлял об этом до тех пор, пока мне не подготовили номер, после чего я перетащил вещи, принял душ и почувствовал себя более или менее нормальным человеком))).
</p>
<%- include('../img_block', {url:"IMG_20150707_123711.jpg",article}) %>

<p>
    А было уже время обеда, и мне нужно было идти в город и искать место, в котором хотелось бы поесть).
    Бродил я долго.
    В туристических кафе не хотелось сидеть и потому, что думал об экономии денег, и желал увидеть не туристов, а обычных самаркандцев.
</p>
<p>
    От Самарканда я ожидал чего-то большего.
    Понятное дело, что на мои впечатления наложились и моя сильная усталость, и сильная жара, и долгие поиски кафе.
    Надо было на велике поехать — на нём передвигаться побыстрее и не так жарко, но желания садиться в седло не было никакого.
    Да и начал понимать я уже, что не вернуться мне в Ташкент на машине.
    Поэтому я старался не напрягать те мышцы, что отпедалировали три дня.
</p>
<p>
    Итак, город, а вернее — улочки, на которых я побывал.
    Они показались мне какими-то очень песочными и жутко однообразными.
    Пошёл по махалле, хотя дорога была большой (возможно, это и не было махаллёй в нашем понимании).
    Ощущение, что все строятся.
    Чуть ли не в каждом втором доме идут строительные работы.
    Что-то кладётся, что-то штукатурится.
    Прямо ощущение, будто всех узбеков выгнали из России и они от безделья занялись стройкой.
</p>
<%- include('../img_block', {url:"IMG_20150707_161018.jpg",article}) %>
<%- include('../img_block', {url:"IMG_20150707_162600.jpg",article}) %>
<%- include('../img_block', {url:"IMG_20150707_162603.jpg",article}) %>

<p>
    А вот такого в Ташкенте я не видел.
    Это значит — такой большой кусок обычного льда, что кладётся на стул.
    Перед ним пацан (именно маленькие дети этим занимаются) ножом наскребает ледяную крошку.
    Затем это кладётся в тарелочку и поливается сиропом.
    Видел это я не раз, и даже на базаре большом.
    Вокруг обычно стоит много таких же детей.
    Определённо, это холодное лакомство делается за деньги, но сколько это стоит, выяснить не удалось, так как узбекский я не знаю вообще (к своему разочарованию).
</p>
<p>
    В итоге я поел куриного шашлыка))).
    Вот так вот банально, так как искать надоело.
</p>
<%- include('../img_block', {url:"IMG_20150707_170612.jpg",article}) %>
<p>
    Дошёл до длинной тенистой аллеи, вдоль которой стоят белые статуи.
</p>
<p>
    Сил идти не было.
    Поэтому я решил посидеть на скамейке, отдохнуть и остыть.
    И даже удалось слегка вздремнуть.
</p>
<p>
    Ближе к древним постройкам всё чаще мелькают иностранцы.
    И, не сильно стесняясь, местные жители раздают приветствия им.
    То есть сидишь такой на скамеечке, проходит кто-то и скажет тебе: «Хеллоу».
    То ребёнок какой-то: «Хало».
    Говорили они это и мне, принимая меня за иностранца — точнее, именно за немца.
    Видимо, сказывался цвет моей кожи, нестандартный.
    А людей со светлой кожей крайне мало, можно по пальцам пересчитать, и чаще — женщины.
</p>

<%- include('../img_block', {url:"IMG_20150707_175413.jpg",article}) %>
<%- include('../img_block', {url:"IMG_20150707_175505.jpg",article}) %>
<p>
    А Тимур у них сидит.
    Видимо, в Самарканде он отдыхал чаще, а в Ташкенте чаще был по делам.
    Разговорился с теми вот девушками.
    Говорю: «Лицо у этого Тимура мало похоже на то, что у ташкентского».
    А девушки утверждали: черты лица на этом памятнике самые правильные — патриотизм!
    Я не спорил, так как и у меня было желание позащищать свой город, но я с этим желанием справлялся.
</p>
<%- include('../img_block', {url:"IMG_20150707_181113.jpg",article}) %>
<%- include('../img_block', {url:"IMG_20150707_182803.jpg",article}) %>
<p>
    Потихонечку добрался я до комплекса Регистан.
    На нём репетировались танцы.
    Очень много людей.
    На заднем фоне молодые люди делают волну, на переднем — девушки танцуют что-то интересное.
    Мне нравится узбекский танец — в нём очень много символов и значений.
    Был у них и главный, что позволял себе такие выражения: «Так, так... понятно... теперь давайте посмотрим это безобразие...».
    Он сидел в будке руководителей и был из неё очень недоволен.
    А у меня крутилась мысль: будь я на их месте, послал бы я тебя куда подальше уже очень давно.
    Долго сидел, а они всё плясали.
    Я доел самсу, купленную по пути, и решил, что нужно купить ещё одно мороженое.
    Стаканчик вкуснейшего мороженого — всего за 1000 сум (22 цента).
    Не удивительно, что я туда ходил раза четыре.
</p>
<p>
    Посидел, полюбовался на Регистан сбоку и понял, что хочется пообщаться с теми самыми странными людьми в отеле.
    Мне повезло: многие были тут, общались, готовились к ужину.
</p>
<p>
    Хочется рассказать немного об их велосипедах.
    Отличительная черта (ну, что я зафиксировал для себя) — простота конструкции.
    Ни на одном велике я не увидел амортизаторов — даже на переднем колесе его нет.
    Большинство рам стальные.
    Дисковых тормозов мало (на фотке — у одного на заднем колесе).
    Про гидравлику и говорить нет смысла.
    То есть максимально простые, и причина этому — чем меньше деталей, тем надёжнее агрегат (ну, я так предполагаю).
    Хотя, может, взяли что было подешевле.
    Подслушал, что даже при этом у них случается много поломок, таких как — задняя втулка сломалась пополам (я даже не думал, что так бывает).
    Колёса у всех средней толщины.
    Поэтому мой велик рассматривали с интересом, но мельком.
    Думаю они понимали масштаб моего путешествия по комплектации велака.
</p>
<%- include('../img_block', {url:"IMG_20150707_194701.jpg",article}) %>

<p>
    На фото слева — итальянец, а справа — француз.
    Как оказалось, они из разных групп.
    Ещё там были немцы: две семейные пары и два молодых парня; одна французская семейная пара; один ирландец и ещё один.
</p>
<p>
    Они все много общались между собой, а я по мере своих познаний английского языка пытался их понимать.
    И в голове крутились странные вопросы.
    Я всё пытался понять лично для себя: круты они или нет, хочу я быть как они или нет.
</p>
<%- include('../img_block', {url:"IMG_20150707_194709.jpg",article}) %>
<p>
    Позже я таки решился помучить путешественников своими вопросами.
    Француз был очень терпелив и охотно отвечал на коряво поставленные вопросы).
    Я выяснил, что он со своей девушкой — ну, он так её назвал (хотя на их сайте у них одна фамилия) — путешествуют вдвоём.
    Он дал визитку, на которой была ссылка на их сайт.
    <a target="_blank" href="https://www.instagram.com/p/C53vqcwL12q/?img_index=3" class="anh">Ссылка на пост в инсте</a>.
    Уже дома я узнал, что они совершают кругосветное путешествие.
    Начали они с Европы, и вот уже в Узбекистане.
    Путешествуют они на очень нестандартных велосипедах.
    На фото очень непонятно вышло, но на сайте, если интересно, можно найти фото и получше.
</p>
<%- include('../img_block', {url:"IMG_20150707_194719.jpg",article}) %>
<%- include('../img_block', {url:"IMG_20150707_194726.jpg",article}) %>
<%- include('../img_block', {url:"IMG_20150707_194734.jpg",article}) %>

<p>
    На раме велосипеда расположены флаги стран, что они уже проехали.
    Теперь там есть и узбекский флаг.
</p>
<p>
    Первый вопрос, возникший у меня тогда: зачем, зачем всё это?
    Он ответил, что цели, по сути, нет.
    Они просто едут, делают что хотят.
    Не хотят работать.
    Ранее он работал и скопил некоторое количество денег, и сейчас потихонечку их тратит, именно потихонечку.
    Спрашиваю: «А на какие деньги вы так долго едете?»,<br> а он: «Ездить на велосипеде очень дёшево».
    Едят они в основном макароны, рис и прочее с какой-нибудь подливой.<br>
    «А мясо?» — спрашиваю.<br>
    Он: «О-о-о, мясо — это слишком дорого».<br>
    «А гостиница?»<br>
    Он: «В гостиницу заехали только из-за обязательной регистрации, т. е. необходимость, что-то связанное с визой» (такие детали я не успел расспросить).<br>
    «А сколько проезжаете в день?»<br>
    Он: «Ну, по-разному, бывает от 7 до 70 км».<br>
    «А спите?»<br>
    Он: «В палатках».<br>
    «А как же работа?»<br>
    Он: «Я инженер, взял и уволился, а вот немцы (показывает на группу), у них, говорит, есть возможность взять отпуск на год, вот они и колесят, пока отпуск».
</p>
<p>
    Это основное, что хотелось передать из нашего разговора, опущу вопросы о велике и другие мелочи.
    Потом его позвали ужинать, и он ушёл, я же не решился мешать есть те самые макароны с пастой))).
</p>
<p>
    Глядя на них, я понял, что колесить по миру — очень непростое, но очень даже доступное предприятие.
    Для этого нужно иметь велик и кое-какое снаряжение, немного денег (не миллион долларов, а хватит 1000–3000 $ на полгодика), ну и, конечно же, решительность.
    Также, если ехать не по русскоязычным странам, нужен английский как минимум, а чем больше языков знаешь, тем лучше.
    Но вот только сколько таких решительных?
    Спросил Николаса (это тот француз): «И много таких, как ты, во Франции?».
    Он сказал, что больше не знает подобных.
    Ну так кто готов?
</p>
<p>
    Вечер я просидел в их компании.
    Более я вопросов особо не задавал, так как уж очень смущает задавать вопросы «пальцами»).
    Они очень дружно общались, много шутили.
    Особо весёлым был итальянец с большущей бородой и планами поездить по Памиру.
    Немцы между собой разговаривали на своём, но только к ним подходил кто-то другой — переходили на английский.
    То есть основное общение — на международном английском.
</p>
<p>
    Конечно, общение с этими людьми сказалось на мне.
    Даже в том, что вариант безвелосипедного пути домой уже не рассматривался.
    300 км перестали быть достижением.
    Это как полудостижение, а вторую половинку уже не добрать позже.
    Поэтому — обратный путь на велосипеде, и только тогда, возможно, я что-то почувствую нужное, так как от половины пути нужных мыслей не прибавилось.
</p>
<p>
    А потом я ушёл спать.
    И снова сон захватил меня мгновенно))).
</p>
