
<h3>Начало</h3>
<p>
    Всё началось в воскресенье (05.07.2015).
    Хотя, вернее сказать, желание зародилось во мне очень давно, но решился я лишь сейчас.
</p>
<p>
    Итак, старт был намечен на 15:00, я собрал вещи, закрепил на велак.
</p>

<%- include('../img_block', {url:"IMG_20150705_123752.jpg",article}) %>
<p>
    Почему-то думал, что путь будет простым.
    Вроде и проезжал я уже в день 200 км, да и дорога не имела больших перепадов высот.
    Я, прямо сказать, слегка ошибался).
</p>
<%- include('../img_block', {url:"IMG_20150705_145938.jpg",article}) %>
<p>
    На фото словно читается, что я осознаю, сколько впереди, но нет — лишь серьезный.
</p>
<h3>Первый день</h3>
<p>
    И стартанул.
</p>
<p>
    Как и ожидал — полетелось).
    То есть велик, загруженный кучей вещей и водой, пушинкой мчался и мчался.
    Я нёсся километров 30–35 в час, останавливаясь каждые 5 км, чтобы сделать селфи.
    Задумка была в том, чтобы делать регулярные себяшки, а потом собрать в видеоряд, и было бы клёвое видео).
    В первый день сил была куча на всякое разное, а не только на педалирование.
</p>
<%- include('../img_block', {url:"IMG_20150705_152230.jpg",article}) %>
<p>
    Вон какой настрой: сил много, погода хорошая, дорога замечательная, эх!!!
</p>
<p>
    Качество дороги в Ташкентской области стабильно хорошее.
    Дорога и без ям, и практически без поворотов — руль будто совсем не нужен.
</p>
<%- include('../img_block', {url:"IMG_20150705_154636.jpg",article}) %>
<p>
    И нет ощущения напряжения, как-то так легко.
    Крутишь педали, несёшься по дороге, поля проносятся мимо, а потом посёлки, и снова поля, и так далее.
</p>
<%- include('../img_block', {url:"IMG_20150705_171024.jpg",article}) %>
<p>
    С полей порой прилетает ветерок — сладкий такой, не городской, природой пахнет.
</p>
<%- include('../img_block', {url:"IMG_20150705_175002.jpg",article}) %>
<p>
    Дорога ровная, и оттого километры очень быстрые.
</p>
<%- include('../img_block', {url:"IMG_20150705_180145.jpg",article}) %>
<p>
    А вы знаете, что нельзя делать фото на мостах?
    Да!
    И то ли милиция, то ли кто другой сразу же свистят и всем своим видом говорят, что делать этого нельзя.
    Поэтому и фото реки по имени Сырдарья хорошими сделать не удалось, а вышло только что-то подобное.
    Ограждено колючей проволокой — видимо, очень важный объект.
</p>
<%- include('../img_block', {url:"IMG_20150705_180155.jpg",article}) %>
<p>
    Трафик на дороге хороший такой.
    Очень много грузовых машин.
    Их такое разнообразие: и красивые, и большие, и с прицепом, и без, груженные «Дамасами», «Нексиями», сеном, досками и всем-всем-всем.
    В общем, оказывается, между городами столько движухи.
</p>
<p>
    Так вот о трафике, а вернее, о его опасности.
    Машин очень много, но если вы не дебил, который едет посередине дороги, а держитесь скромненько края (не обочины, которая там является черновой дорогой), то вас никто не трогает.
    Все объезжают, т. е. не «облизывают» вас.
    Хотя от грузовиков порой так подует, что чуть ли не сносит, но это скорее прикольно, чем опасно.
    Да, все несутся, но несутся по второй полосе.
    Начеку быть обязательно, и тогда жизни почти ничего не угрожает.
</p>
<p>
    Время шло, километры летели, и потихонечку начало вечереть.
</p>
<%- include('../img_block', {url:"IMG_20150705_195123.jpg",article}) %>
<p>
    Это примерно сотый километр от Ташкента.
    Но останавливаться я не собирался.
    В планах было проехать хотя бы полпути (на самом деле я хотел в первый день все 200 проехать, но кто ж знал, как же это много).
</p>
<%- include('../img_block', {url:"IMG_20150705_202635.jpg",article}) %>
<p>
    Во-во, а потом я придумал каждые 50 км отмечать себяшкой с кулаком.
    Первую я не нашёл, но вот это фото на первую сотню.
    Определённо, тут я уже не такой бодрый, как на первой фотке))).
</p>
<%- include('../img_block', {url:"IMG_20150705_202947.jpg",article}) %>
<p>
    А потом я доехал до них.
    Это настоящие живые аисты!
    В пути я уже видел группу этих больших, очень красивых птиц, но это первое гнездо.
    Признаюсь честно: раньше я думал, что они ненастоящие.
    Просто когда на машине едешь, ощущение, что они совсем не двигаются, да ещё и стоят так.
    А оказываются — ещё какие живые.
    Гнёзда настоящие, и их довольно много — это очень интересно и необычно.
</p>
<%- include('../img_block', {url:"IMG_20150705_204652.jpg",article}) %>
<p>
    И много вот таких вот каналов.
    По ним не показывают телепередачи, но в темноте они жуть как клёво выглядят.
    Когда вокруг уже совсем нет света и всё погружается в темноту, вода словно светится совершенно волшебным образом — очень красиво!
</p>

<p>
    Тем временем дорога стала ужасной.
    Темень!
    Фонарь хотя и светит хорошо (спасибо Кашалоту), но всё равно всех ям не разглядеть.
    Скорость резко упала.
    Вдруг появилась мошкара и комары.
    Тут-то я понял: не видать мне сегодня ни 200 км, ни даже 150.
</p>
<p>
    Принял решение искать место для ночлега.
    И чем оно оказалось: у поля, которое недавно было скошено, стоял ряд деревьев, под которыми я и остановился.
</p>
<p>
    Было это часов в 22:00, я уже точно и не помню.
    Я разложился, съел пельмени с лепёшкой, попил чаёк с печеньками.
    Удивительно, как может быть приятна еда после очень длительной нагрузки.
    Обычная, но первые укусы ввергают тебя в восторг.
    И ты вдыхаешь полную грудь свежего, вечернего, загородного воздуха... и вот он, миг счастья).
</p>
<p>
    Далее, сложив всё аккуратненько рядом с собой, забравшись в спальник, ложишься на спину и начинаешь смотреть на бесконечное изумительное небо.
    И так темно, что уже виден Млечный Путь.
    Высмотрев пару спутников и дождавшись падающей звезды, ты вдруг как-то раз — и засыпаешь))).
</p>