
<h3>Предпоследний день.</h3>
<p>

    Что было! Что было! А что было? — ещё один день, что был лучше предыдущего.
    Снова танцы, медитация, купания в море (хотя холодно вроде, и почти пар изо рта). Лекция Дады Садананды очень интересная. Медитация, обед.
</p>
<p>
    А потом взяли пакеты, или, вернее, мешки большие такие, и пошли за территорию собирать мусор. Все пошли. От мала до велика, от продвинутого до начинающего. Разделились на группы и разбрелись в разные стороны. Что говорить, даже Дада Садананда собирал мусор, да и почему «даже» — для него служение это уже обычный момент, поэтому скорее — тем более Дада был с нами!
</p>
<p>
    Некоторые думают, что Дады неспроста это делают, предполагают, что мы просто не видим, как они на нас наживаются. Так вот, за неделю жизни с монахами я не увидел ни малейшего намёка на меркантильность, они были ужасно искренны в своём служении, служении нам. Это невероятные люди! Они для меня служат примером. Всех монахов, что были на ретрите, я бесконечно зауважал.
</p>
<p>
    Так вот, мне рассказывали, что Дада был очень весел, много шутил и старался собрать как можно больше мусора (поговаривают, даже иногда хитростью!). Собирали мусор, складывали раздельно, с расчётом на дальнейшую переработку — пластик, металл, стекло всё раздельно.
</p>
<p>
    Мы как-то скромненько бродили среди кустов и потихоньку собирали неприметный такой мусор, и оказалось, что он такой незаметный, но его до… очень много его. А потом ещё набрели на разбитое лобовое стекло. В общем, улов был большой. А кто-то набрёл на залежи бутылок. Мусора на природе очень много. За два-три часа собрано было на удивление много, прям реально много — кученция мешков. Фотки у меня нет, но поверьте на слово.
</p>
<p>
    С ретрита всё хочу так же пойти собирать мусор. И я это сделаю, не будь я Помидором (вот будет стрёмно, если в итоге не сделаю). Причём я хочу это делать регулярно. Если таки доберусь до этого дела, то будет об этом ещё одна заметка, а может и не одна. Отмывались в море, блин, холодно.
</p>
<p>
    Потом обед, а после, таки, концерт. Вёл концерт Дада Адвайт. Он реально весело вёл, очень легко и часто смешно. Только когда вызывал меня на сцену, еле-еле произнёс: «Помидор Шадрин». Он-то не привык человека звать Помидором.
</p>
<p>
    Было на концерте много национальных танцев, также пели. Кирилл очень круто станцевал (не знаю, как назвать стиль, но что-то цепляющее и современное). И я прочитал текст, зал очень внимательно слушал. Особо не боялся, но под конец почувствовал, что меня уже полностью трясёт (обычно только ноги). Зрителю вроде более или менее понравилось, я собой не доволен (к следующему разу подготовлюсь лучше).
</p>
<p>
    К ужину начинает доходить мысль, что уже завтра уезжаем — не верится, не хочется… эх.
</p>
<h3>Завершающий день.</h3>
<p>
     И всё вроде как обычно. Ранний подъем, каошики, коллективная медитация. На медитации на киртане начало пропирать до слез. В предобеденном киртане вообще разревелся, и так хорошо — хорошие такие слёзы, лёгкие.
</p>
<p>
    Но всё необычно: ещё утром попросили начать собирать вещи, чтобы к обеду уже с сумками. Вот тут и понимаешь — сегодня уезжаем. Благо было не мучительно грустно. Наполненность какая-то была, энергия, ощущение, что всё будет хорошо, поэтому сильно не грустилось.
    
</p>
<%- include('../img_block', {url:"IMG_20180916_124411_1.jpg",article}) %>
<p>
    На закрытии Дада рассказал о служениях, что делают они. Список большущий, и это он не всё ещё перечислил, кое-что позабыл. Мне бы его тут описать, но я не записывал и всё, почти всё, забыл.
</p>
<%- include('../img_block', {url:"YgeRkQQuS5g.jpg",article}) %>
<p>
    Очень важно, сказал он, делать коллективную медитацию и чем чаще, тем лучше. И я уже не был против (до ретрита я был как-то не за), так как понял, что это очень ценное мероприятие. И конечно же, напомнил, что служение помогает в духовной практике, без служения практика невозможна. Так сказать, без добра нам просто никуда.
</p>
<p>
    На закрытии объявили, кто выиграл в раннем вставании, и да — это была наша команда, эхей! Мы оказались самыми вставаемыми. Призом был сладкий торт (которым мы поделились со всеми на обеде) и 10% скидка на следующий ретрит; возможно, и ей поделюсь ещё, кто знает.
</p>
<p>
    После были прощания, очень добрые, искренние. Мне посчастливилось — я смог попрощаться с каждым Дадой и Диди. Когда прощался с Дадой Саданандой, он похвалил моё выступление; как-то у него это вышло по-особому, что ли, так что не эго вдруг выпучилось, а просто стало теплее.
    
</p>
<%- include('../img_block', {url:"Q0WctXbFjJw.jpg",article}) %>
<p>
    Даже групповое фото было, но тут, конечно же, далеко не все. Кто-то уезжал самостоятельно и чуть пораньше, большинство ехали вместе на всё том же двухэтажном автобусе. С некоторыми сдружились так сильно, что даже странно осознавать, что мы из разных стран. Ощущение, будто мы с соседних районов одного города, просто еще не пересекались. Погрузили всё, что нужно, в автобус. И снова отличная компания! О да, я везуч в этом плане иногда, и четыре часа пролетели незаметно, и мы уже в Бишкеке.
    
</p>
<%- include('../img_block', {url:"PANO_20180916_155922.jpg",article}) %>
<p>
    Были, конечно, остановки у магазинов, у детей в руках снова появились шоколадки, наконец-то! По приезду мы вылились небольшой лужицей, которая в прощаниях, обниманиях, говорении комплиментов и в обмене контактов постепенно испарилась до меня, Кирилла и Дарьи. Расставаться совершенно не хотелось, поэтому мы пошли гулять по городу, вечернему Бишкеку.
</p>
<%- include('../img_block', {url:"P80916-204405.jpg",article}) %>
<p>
    Вечерний центр приятный. Люди гуляют приятные. А потом и с Дарьей попрощались; не хотелось, честно, но её же не заберёшь в Ташкент. Ах, можно было бы позабирать народ с ретрита в Ташкент! Набрал бы целый автобус! В общем, в хостел я вернулся к 11:00 один. Благо там были мои новые друзья.
</p>
<%- include('../img_block', {url:"IMG_20180917_110733.jpg",article}) %>
<p>
    На следующий день мы снова бродили по городу, по магазинам, сидели в кафе. К вечеру вернулись, собрались и поехали в Ташкент.
</p>
<%- include('../img_block', {url:"IMG_20180917_185500.jpg",article}) %>
<%- include('../img_block', {url:"IMG_20180917_192347.jpg",article}) %>
<p>
    На обратном пути автобус Бишкек — Ташкент был полон знакомых и друзей. А потому добрались до Ташкента мы как-то легко. На автостанции растаяли последние ретритовцы, и домой я вернулся один. Вот как-то так это обычно всё заканчивается.
</p>
<p>
    Но я рад, что на самом деле я не остаюсь один: со мной живут на этом шарике много моих друзей, и за эти десять дней их количество значительно возросло. Скоро можно будет путешествовать от друга к другу по всей земле (а что, может быть как-нибудь). Конечно же, это далеко не полный отчёт, многое забыл, не всё опишешь.
</p>
<p>
    Вот так, к примеру, мы сжигали немного своей негативной кармы. Поэтому кому реально захотелось всё узнать, да и тому, кто хочет повторить, а может и продолжить — айда через год на то же место!!! ЭХЕЙ!!!
</p>
<%- include('../img_block', {url:"OFP347JapZA.jpg",article}) %>
<h3>Отзыв о ретрите</h3>
<p>
   Подытожив, я бы хотел сказать. Всё было очень круто! Я был готов, что будет на порядок, а то и на два хуже, т. е. это был для меня запредельный уровень. А тут и место просто суперкомфортное (да я готов был бы и в палатке с туалетом за деревцем), и организация супер: от доставки, расселения, заполнения до питания. Особо приятны были Дады и Диди, большое удовольствие было быть с ними.
</p>
<p>
    Я знаю, что кто-то видел минусы. А я вот напрягаюсь, увеличиваю и не нахожу того, чтобы мне не понравилось. Даже с погодой, мне кажется, нам повезло. Я бесконечно рад, что решился поехать на этот ретрит!
</p>
<p>
    Хочу очень похвалить пансионат «Талисман». Ну он прям замечательный. Территория очень аккуратная, номера комфортные, обслуга классная, кухня вкусная, до озера 5 минут ходьбы. В сезон, я думаю, там дороговато будет, но если вас это не смущает, то я бы рекомендовал (хотя кому нужны рекомендации от того, кому комфортно и в палатке).
</p>
<%- include('../img_block', {url:"IMG_20180916_101612.jpg",article}) %>
<%- include('../img_block', {url:"IMG_20180916_101616.jpg",article}) %>
<p>
    Спасибо большое всем, кто читал (прочитал) мои заметки. Мне очень приятно, что я могу поделиться этим с вами, и вам при этом не скучно. Это последняя заметка из этого цикла, но наверняка не последняя на моём сайте. Нужно много сделать, а потому будет о чём написать. До скорых встреч! Намаскар!
</p>