

<h3>Еще один день.</h3>
<p>
     Дни считать не хочется, так как только начни — и окажется, что уже завтра уезжать. Ну уж нет, я хитрее.
</p>
<p>
    Я бы сказал, что ретрит очень напоминает спортивный лагерь: физической нагрузки тут хватает, и всё строго по расписанию. Особенно подъём! Вставалось более или менее нормально — как-то легко вставать, когда ты не один и когда есть ради чего проснуться пораньше.
</p>
<p>
    Особо я, конечно, не следил, кто ходит, а кто нет, но моя команда говорит, что по утреннему посещению мы пока впереди. Мне вроде и всё равно, но инфу мимо ушей таки не пропустил.
</p>
<p>
    В самом начале я подслушал, как в одной группе лидер говорит: <br>
    — Ну, значит, завтра все в пять, так сказать, единым порывом! <br>
    А одна девушка так невозмутимо: <br>
    — А я не встану в 5 утра… <br>
    — Ну как же, как же, мы команда, мы поддержим, мы все встанем, эхей! <br>
    А она: <br>
    — Нет, нет… я не встану, я-то точно знаю. <br>
    В общем, они и убеждали её, и аргументы старались пропихнуть… не знаю, вставала она в итоге или нет. Для кого-то команда — это стимул, а для кого-то — «я точно не встану».
</p>

<p>
    Мышцы сильно и постоянно болят. Очень сильно дают о себе знать мышцы спины. Количество медитаций просто нереальное, но ощущения здоровские! Организаторы устраивают уже не первый такой ретрит и, похоже, знают, что нужны разгрузочные дни. А потому нас большим двухэтажным автобусом вывезли в горы!
</p>

<p>
    Утро шло по плану, а после завтрака нам выдали сухпайки и погрузили в автобус. И снова отличная компания, и снова общение — кайф!
</p>

<%- include('../img_block', {url:"image13.jpg",article}) %>

<p>
    Горы немного другие, не такие, как у нас: подъём наступает резко и круто, и дальше так и держится — вверх, вверх. И всё в соснах огромных. Очень много деревьев.
</p>
<%- include('../img_block', {url:"image12.jpg",article}) %>

<p>
    Большой группой идти не хотелось. Дарье тоже не хотелось, поэтому из нас вышла отличная маленькая группа, которая сразу свернула налево
    (Дарья замужем, надеюсь, муж не читает эту муть).
</p>

<p>
    В общем, с Дарьей на одной волне — и как давай карабкаться выше и выше, без троп, и болтать о том, о сём… эххх, здорово!
</p>

<p>
    Было хорошо, тепло и красиво. Полазили до обеда, немного помедитировали (ну я-то точно немного) и спустились к автобусу — нас должны были ещё куда-то везти.
</p>

<p>
    Это «куда-то» оказалось, на первый взгляд, обычным открытым бассейном. Я даже удивился выбору места.
    Но оказалось, что это некий горячий источник, так организованный, чтобы можно было купаться.
</p>

<p>
    В общем, это выглядит так: три ванны-бассейна.
    В одном вода прям горячущая!!! Прям вот горячо.
    Из неё вода сливается в другую ванну, где она уже подостыла — хорошая такая.
    С боков бордюрчики, можно посидеть, поотдыхать прямо в воде.
    И третий — там, как я понял, вода холодная. Я туда не лез.
</p>
<p>
    В общем, лезешь в горячую, нагреваешься до стука в сердце), а после идёшь отдыхать в тёпленькую.
</p>

<p>
    Почти все наши, атмосфера очень добрая, почти все фоткаются.
</p>

<p>
    Вот как-то так… вернулись мы, кажется, к медитации, а может, к ужину — не помню).
</p>

<p>
    От медитации штырит уже не так мощно, но хорошо). Хочется продолжать.
</p>

<p>
    Завтра концерт, я напросился читать о любви.
</p>

<p>
    Вернее, было дело так. Объявили, что всем желающим поучаствовать в творческом вечере нужно обратиться к Ниитимайи.
    И я обратился. Она назначила прослушивание (ну просто попросила прочитать).
</p>

<p>
    Я прочитал ей стих Веры Полозковой «Снова не мы». По её словам, ей понравилось,
    но, тактично объяснив, что тема стиха не очень подходит к ретриту, сказала, что предложит мне другой текст.
</p>
<p>
    Позже она его мне показала, он мне понравился, и я стал готовить его к выступлению.
    Сильный текст, я, как всегда, делаю кучу многозначительных пауз).
</p>
<p>
    Зуб, похоже, заживает.
</p>

<h3>Еще один день</h3>
<p>
    Ощущение от киртана усилилось, порой просто улетаю. Медитация после инициализации стала глубже.
    Медитирую и где-то далеко чувствую, что ноги уже болят, но при этом такое счастье внутри… еле расплелся.
</p>

<p>
    Я знал, что йога бывает очень разная, но чтобы настолько! Сегодня была странная смехойога (или, как я называю, Хихи-йога).
    Это очень необычное занятие, где основное упражнение — это смех. Нужно смеяться и делать всякое разное. Не асаны, а скорее тренинги.
    Не сказать, чтобы это ерунда — думаю, это очень сильно раскрепощает, это интересный подход, но я не смог уловить связь с йогой… в общем, не моё.
</p>

<p>
    Была ещё и фитнес-йога, это больше похоже на хатха-йогу: разминка там динамичная и под музыку. Но и это оказалось не моё.
    На самом деле было очень здорово, что нам дали попробовать разные стили учителей, это расширяет границы.

</p>


<p>
    Также сегодня была брачная церемония двух пар. Как оказалось, это очень позитивное действие.
    Все в унисон поют киртан, потом сама церемония — в итоге всё пропитано позитивом, лёгкостью и любовью.
    Церемония очень приятная и трогательная, даже зацепило местами.
</p>

<%- include('../img_block', {url:"IMG_20180914_144912.jpg",article}) %>

<p>
    Ведут процессию Дада и Диди. В йоге очень сильно различают женское и мужское: типа, мы все едины, но тела у нас разные.
    Поэтому для девчонок — Диди, для пацанов — Дада; есть женская половина и мужская. Сексизм!
</p>

<p>
    Бракуемые, как везде заведено, давали друг другу клятвы под диктовку монахов. Что удивило — в клятвах присутствует пункт для обеих сторон:
    «обязуюсь обеспечить условия для интеллектуального и духовного развития». Такое я вообще никогда не слышал, а тут — в обязательном порядке.
    Я-то думал, мужчина должен лишь обеспечить жену работой на кухне и детьми… ну, не знаю.
</p>
<%- include('../img_block', {url:"IMG_20180914_215922.jpg",article}) %>
<p>
    На сегодня было назначено выступление, но его перенесли. Вместо него был концерт Алексея Шулякивского, он замечательный певец.
    И пока концерт не начался, а микрофон был настроен, я попросил разрешения потренироваться читать в него.
</p>

<%- include('../img_block', {url:"IMG_20180916_102646.jpg",article}) %>

<p>
    А народ уже начал собираться. В общем, я прочитал один стих. Публика оказалась очень приятной.
    Я прочитал ещё один — тот самый «Снова не мы». И они прямо слушали, и это было очень приятно.
    Попросили ещё, прочитал третий стих. Но тут мне сказали заканчивать, так как концерт всё же не мой.
    Но это было очень здорово! Ещё раз спасибо за внимание всем тем, кто меня тогда слушал.
</p>

<p>
    После концерт Алексея таки состоялся, и он был очень душевным, под конец танцевал весь зал.
    Вообще ощущение, что это движение продолжается, и конца не будет — и не хочется, так как с каждым днём только лучше: медитация, общение.
    Тут не надо рассказывать о йоге, тут уже можно просто делиться опытом — очень сильный обмен.
</p>
