<p>Раз — и уже вечерняя медитация.</p>

<%- include('../img_block', {url:"im_07.jpg",article}) %>

<p>И какие же горы без ночного костра — большого такого костра с чаем, персиками и другими ништячками.</p>
<p>Костёр в горах — это всегда нечто волшебное: он прогревает до самой души, особенно если ты в замечательной компании и играешь в игры (мы играли в крокодила, страшилки мы решили оставить на следующий раз). После — отбой.</p>


<p>На следующий день с утра были асаны. В горах асаны делать не супер удобно. Найти идеально ровную поверхность, да ещё и без камней, ну, прямо скажем, сложно, но мы как-то умудрились хорошо позаниматься.</p>
<p>После медитация, завтрак.</p>
<p>Ну и какой же ретрит без лекции. С нами был Дада Сиддхартха и с ним его отличные лекции. Приятно после было слышать от новичков, что они услышали нечто важное (интересно что до этого важного нужно было сделать такой непростой путь))) ).</p>
<p>Медитация в горах... какая-то другая. Ощущение, что вокруг столько энергии, и это делает практику какой-то волшебной.</p>

<%- include('../img_block', {url:"im_16.jpg",article}) %>

<p>Обед. Еды мы принесли много (сказывается неопытность организаторов), поэтому ели вдоволь).</p>
<p>Сборы — самая грустная часть программы. Ощущение, что только сдружились, только настроились и так бы жить ещё недельку, но... надо собираться. И мы очень дружно собирались.</p>

<%- include('../img_block', {url:"im_13.jpg",article}) %>

<p>Обратный путь был, кажется, даже экстремальнее, чем путь к лагерю. Но мы были связаны верёвками взаимопомощи и преодолели все сложные участки очень дружно.</p>

<%- include('../img_block', {url:"im_14.jpg",article}) %>
<%- include('../img_block', {url:"im_15.jpg",article}) %>


<p>После — машина, общение, общение, общение, и так бы вечно!</p>

<%- include('../img_block', {url:"im_18.jpg",article}) %>

<p>Ретрит и горы — просто замечательная комбинация.</p>
