<p>Доехали до места старта похода, распределили все вещи. А тащить оказалось много чего, но ребята крепкие — взяли вещи, продукты, девочку и устремились.</p>

<%- include('../img_block', {url:"im_17.jpg",article}) %>

<p>И это было прям вообще не просто. Я бывал на ретритах, и обычно там самое сложное — дотащить маленький рюкзак по дорожке метров 200. А тут было 2 км в гору по извилистой тропе с тяжёлыми рюкзаками. Веселее всех почему-то шла девочка (у детей свой секрет счастья).</p>

<%- include('../img_block', {url:"im_11.jpg",article}) %>

<p>Все держались воинами, все дошли и с хорошим настроением.</p>

<%- include('../img_block', {url:"im_12.jpg",article}) %>

<p>А дальше всё пошло как в настоящем ретрите.</p>
<p>Медитация, обед (приготовленный на костре плов, салат, фрукты, сладкое — не зря мы всё это тащили).</p>


<%- include('../img_block', {url:"im_04.jpg",article}) %>
<%- include('../img_block', {url:"im_05.jpg",article}) %>

<%- include('../img_block', {url:"im_06.jpg",article}) %>

<p>После разбили лагерь (в горах есть свои фишки).</p>

<%- include('../img_block', {url:"im_08.jpg",article}) %>
<%- include('../img_block', {url:"im_09.jpg",article}) %>
