<p>Очень захотелось устроить ретрит. </p>

<p class="comment">
    Ретрит — английское слово, обозначающее времяпрепровождение, посвященное духовной практике. 
    Это когда группа людей, связанных желанием духовно прокачаться, выезжает за город (обычно так) и там делает всевозможные практики: медитацию, асаны, лекции и так далее. 
</p>
<p>
    Ретритик — это когда ретрит длится меньше трёх дней. 
    А когда он проводится на даче, то выходит дача-ретритик. 
</p>
<p>
    Захотелось ретрит, но ресурсов не хватало, поэтому решили сделать что-то поменьше, но такое же вдохновляющее. 
</p>
<p>
    Оказывается, организовать такое мероприятие не так уж и сложно. 
    Опросить окружение, выявить желающих, подсчитать расходы, договориться с дачей, найти транспорт и ещё немного организационных вопросов — в принципе, и всё. 
</p>
<p>
    Изначально думали, что ретрит будет для новых йогов (они проявили инициативу). 
    Ретриты очень важны в начале пути (хотя не только в начале). 
    Но оказалось, что и опытные йоги тоже захотят присоединиться. 
    <b>В итоге нас собралось аж шестнадцать человек.</b> 
    Шесть новых и десять уже окрепших йогов, желающих поделиться своим светлым опытом. 
    Плюс было принято решение ехать с детьми (мы понимаем важность воспитания новых человечков), и это ещё четыре. 
    <b>Всего двадцать — большая группа замечательных людей.</b> 
</p>
<p>
    Активная организация проекта составила дня три. 
</p>


<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_003.jpg",article}) %>

<p>
    И вот мы уже на базаре. 
    В Ташкенте очень легко найти еду вегетарианцу. 
    Два часа (ну или чутка больше) — и все продукты куплены и помещены в машину. 
</p>
<p>
    Дачу попросили у друзей. 
    Она очень хорошая и просторная. 
</p>
<p>
    Приехали на дачу на четырех легковых машинах.
</p>
<p>
    И сразу ужин. 
    Как всегда это бывает в самом начале — все такие незнакомые, не знают друг друга, но очень вежливые (а в конце ты вспоминаешь и не можешь поверить: было же время, когда я тебя не знал, невероятно). 
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_009.jpg",article}) %>
<p>
    После — немного свободного времени, небольшая медитация и отход ко сну. 
    Спали кому как удобно. 
    Кто на кроватях внутри дома, которых не так много. 
    Кто просто на курпачах (узбекские такие матрацы) на полу. 
    Кто в спальниках на улице. 
    Лето в этом году не такое жаркое, было слегка прохладненько, но в целом ночь прошла хорошо. 
</p>
<p>
    Программа началась в 6.00.
    Не так легко было встать, но раз уж приехали, то...
</p>

<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_013.jpg",article}) %>
<p>
    А как начинается хороший день? 
    Конечно же, с медитации и асан. 
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_016.jpg",article}) %>
<p>
    Как ни странно, всё больше людей, которым нравится йогический танец <a href="https://kaoshiki.ru/" alt="Каошики (каушики) – йога танец">"каушики"</a>.
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_061.jpg",article}) %>
<p>
    Расписание было составлено очень плотно, и было сомнение, что все пройдет по плану (но в целом, как ни странно, почти всё успели). 
</p>
<p>
    Пока одни делали асаны, другие занимались организаторскими делами: чистили бассейн, готовили завтрак (фото не сохранилось). 
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_017.jpg",article}) %>
<p>
    Завтрак решили особо не готовить, так как к вечеру привезли очень много еды, которую не доели (просто к тому моменту ещё не надышались свежим воздухом). 
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_026.jpg",article}) %>
<p>
    Дети себя вели хорошо, почти не отвлекали мам (хотя, возможно, я не всё знаю). 
    Кто-то играл, осваивал бассейн, кто-то катался почти на всех ручках присутствующих участников. 
    Особо понравилось то, что сразу организовалась поддержка в вопросе детей, и все готовы были помочь в чём угодно, даже отказаться от медитации, чтобы покачать ребёнка в коляске. 
</p>
