<p>
    Так как настрой на ретрит был серьезный, мы не могли не внести в расписание две лекции.
    Лекции две, тема одна, но большая.
    Мы решили рассмотреть "Яма-Нияма. Принципы гармоничной жизни" или "Прямые инструкции, как стать счастливым".
    Эта лекция важна как новым, так и бывалым.
    Каждый раз, поднимая эту тему, понимаешь, насколько она бесконечно глубока, и то, что многое забываешь, и то, что приобретённый опыт порой значительно изменяет понимание этих 10 пунктов.
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_028.jpg",article}) %>
<p>
    Провели лекцию в формате лекция-беседа.
    Как это делается:
<ul class="">
    <li>Выбирается некий ведущий, который руководит процессом.
        В начале он может дать вступительное слово по теме, после предлагает всем желающим разобрать тему по частям.
        Делается это не насильно.
        Если человек чувствует, что ему есть что сказать, то ему предоставляется такая возможность. </li>
    <li>Далее определяется некоторое время для выступления (порой так случается, что информации, которой хочется поделиться, слишком много, поэтому таймер решает).
        Ведущий берёт на себя аскезу — прерывать выступающего или просить заканчивать.</li>
    <li>После выступления дается время для обсуждений и дополнений.
        У нас вышло 7 минут на выступление, 3 на обсуждение (как пример). </li>
</ul>

</p>
<p>
    Мне очень нравится такой формат.
    Он проходит куда живее.
    Редко кто засыпает, так как ты находишься с лектором рядом и чувствуется связь с каждым.
    Плюс, раз лекторов много, то и личных примеров куда больше, что особенно важно.
    И на вопросы всей гурьбой отвечается лучше.
    Можно даже немного подискутировать.
    То есть прямо такое живое общение, основанное на определенной теме с небольшим регламентом.
    Почему бы и да!
</p>
<p>
    Ну а чтобы всё это не расползлось непонятно во что — есть ведущий.
    Его задача — бдить.
    И если он справляется со своей задачей, то большинству будет интересно.
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_019.jpg",article}) %>
<p>
    Между лекциями были и медитация, и обед, и, конечно же, купание в бассейне.
    Вода очень объединяет.
    Несмотря на то, что свеженалитая вода была обжигающе холодна, мало кто отказался от удовольствия искупаться.
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_035.jpg",article}) %>
<p>
    К вечеру душа йогов требовала концерта.
    Поэтому они взяли что только можно и как давай петь и плясать.
    И так у них это вышло весело, задорно и шумно, что соседи не выдержали зависти и попросили немного успокоиться.
    И йоги очень вежливо успокоились.
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_037.jpg",article}) %>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_038.jpg",article}) %>
<p>
    Задора было ещё очень много, поэтому они переключились на игры.
    Вот только на это осталось совсем немного времени — день заканчивался, подходило время медитировать и спать.
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_042.jpg",article}) %>
<p>
    Замечательная картина: старшие йоги встали пораньше и уже медитируют.
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_043.jpg",article}) %>
<p>
    Очень приятно наблюдать за медитирующим человеком, ведь это... просто красиво.
</p>
<p>
    А дальше всё шло по плану.
    Расписание продолжало быть очень плотным.
    Времени так мало, но так много хочется успеть.
</p>
