<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_047.jpg",article}) %>
<p>
    Каушикистов в воскресенье было побольше.
    И это смотрелось очень красиво (даже на фото красиво).
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_058.jpg",article}) %>
<p>
    Амалина провела очень интересные асана-классы.
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_059.jpg",article}) %>
<p>
    Во время лекции была раскрыта важность такого принципа, как "тапас".
    А в него входит служение.
    Под служением йоги понимают деятельность, направленную на помощь всем живым существам и улучшения мира в целом, не желая взамен совсем ничего.
    Служение — это очень мощная практика, которая связывает меня с миром, развивает во мне любовь ко всему миру.
</p>
<p>
    И так как дачу мы не снимали, а нам дали её по-дружески, то мы решили сделать хорошее в ответ.
    Каждому было предложено выбрать подходящий для себя вид служения и поработать.
    Это также называется карма-йогой (так написано в расписании).
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_060.jpg",article}) %>
<p>
    Времени на это было выделено всего час.
    И все как ринулись.
    Ни один не остался лежать на курпачах.
    Дача забурлила.
    Кто занялся огородом, кто домом, кто гаражом, кто электрикой.
    Работы оказалось много.
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_115.jpg",article}) %>
<p>
    Что мне нравится в совместной работе, так это то, что общение выходит на какой-то другой уровень.
    Ты помогаешь, и тебе помогают — всюду взаимоподдержка, и всё так весело и бодро.
</p>
<p>
    И сам факт, что я делаю что-то не за деньги "чужим" — раньше я такое плохо принимал.
    Но именно так начинаешь понимать, что нет чужого, а весь мир — это нечто единое.
    И неважно, в чем и где ты его улучшаешь, в итоге он весь становится лучше, и я становлюсь лучше и счастливее.
    Возможно, кто-то не поймет этого, но я вам рекомендую как-нибудь помочь незнакомому человеку просто так, от доброго намерения, и вы обязательно почувствуете, о чём я говорю.
    Было сделано так много и за такой маленький срок.
</p>
<p>
    После служения очень круто заходит купание.
    Поэтому мы хорошенько поплескались.
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_139.jpg",article}) %>
<p>
    Есть парочка фото еды, поэтому хочется немного и об этом.
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_122.jpg",article}) %>
<p>
    Команда поваров собралась очень хорошая.
    И еда была просто волшебная.
    Единственное, что при такой еде сложно не переесть, очень непросто.
    Но это и очень приятное испытание.
</p>
<p>
    Описывать все приёмы пищи я не стал, но могу сказать, что потихонечку за столом мы знакомились и становились всё больше и больше своими.
    Быть вместе — это так здорово!
    Начинаешь понимать, что ты не один — нас много, и мы такие интересные и душевные, и так хорошо быть вместе.
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_133.jpg",article}) %>
<p>
    И вот приходит время сборов.
    А сразу за ним время разъезжаться, а этого так не хочется.
    И, по-моему, именно поэтому кто-то вдруг чего-то забудет и вернётся.
    Кто-то закрывает двери, а они не закрываются.
    А потому снова кто-то что-то забудет и просит открыть двери.
    И так некоторое время, пока действительно уже не стоит уезжать.
</p>
<%- include('../img_block', {url:"IMG_20200619_Dacha_retrit_135.jpg",article}) %>
<p>
    И вот мы, полностью собранные и по максимуму заряженные.
    Нас не так много, но нас так много!
</p>
<p>
    Я обожаю ретриты.
    Обожаю чувствовать, что я не один, чувствовать, что мы все — единая семья.
</p>
<p>
    P.S.: Одна из целей этого текста — это рассказать, что ретрит сделать очень просто.
    Да, необходимо немного напрячься организаторам: придумать, позвать, уговорить, посчитать, организовать, купить, довезти, проследить, собрать и вывезти — это много задач, но они только в первый раз кажутся очень страшными.
    После ты понимаешь, что самое главное — это желание твоё и твоих друзей провести круто время, а дальше начинаешь с малого (ведь можно и вчетвером сделать ретрит, да и втроём; двоим сложновато, но, думаю, тоже можно).
    У меня есть друг, что начинал с малого, а теперь их команда организует фестиваль на 1500 человек (он меня вдохновляет).
    Если у кого есть вопросы по организации, расскажу всё, что могу и ещё чуть-чуть.
</p>
<p>
    P.P.S.: Почему-то хочется поговорить про деньги.
    Мне кажется, часто мешает мысль, что для того, чтобы такое устроить, нужно много денег, которых обычно нет.
    Так вот что у нас получилось в этот раз.
    Дачу нам дали с условием, что мы заплатим 30 у.е. за коммуналки.
    Доехали мы, грубо говоря, бесплатно (это служение владельцев машин).
    Основной расход — это покупка продуктов.
    Подсчитав всё, вышло, что затраты на одного человека составляют 7-8 у.е., и это получается чуть больше чем за два дня (две ночевки).
    То есть, как по мне, это очень бюджетно и доступно.
    Мой учитель как-то сказал (примерный пересказ): «Вы придумывайте хорошие проекты, а деньги на них — это не ваша забота, они сами придут».
</p>